
/* general*/

.container {
  display : grid;
  width: 100%;
}
.page-section {
  width: 100%;
  position: relative;
  background-color: inherit;
  /* this is the default height, can overwrite by using an ID*/
  height: 1200px;
}

/*columns*/
.column {
  float: left;
  width: 70%;
  height: 100%;
  position: relative;
}
.column-half {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.column-quarter {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
}
.column-third {
  float: left;
  width: 33%;
  height: 100%;
  position: relative;
}
.column-small {
  float: left;
  width: 10%;
  height: 100%;
  position: relative;
}
.column-big {
  float: left;
  width: 80%;
  height: 100%;
  position: relative;
}

/*rows*/
.row {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-half {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-quarter {
  width: 100%;
  height: 25%;
  position: relative;
}
.row-third {
  width: 100%;
  height: 33%;
  position: relative;
}
.row-big {
  width: 100%;
  height: 90%;
  position: relative;
}
.row-small {
  width: 100%;
  height: 10%;
  position: relative;
}
.row-smallest {
  width: 100%;
  height: 5%;
  position: relative;
}

/*images*/
.full-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.full-width-image {
  position: relative;
  width: 100%;
}
.half-width-image {
  position: relative;
  width: 50%;
}
.column-top-image {
  position: absolute;
  top: 5%;
  height: 10%;
  width: 100%;
}
.column-mid-image {
  position: absolute;
  top: 50%;
  height: 10%;
  width: 100%;
}
.column-bottom-image {
  position: absolute;
  top: 85%;
  height: 10%;
  width: 100%;
}
