@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
#top-banner {
  width: 100%;
  height: 40px;
}
.container {
  display : grid;
}
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;

}
#nav-bar-about {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-contact {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home:hover {
  color: #E2C8B1;
}
#nav-bar-about:hover {
  color: #E2C8B1;
}
#nav-bar-contact:hover {
  color: #E2C8B1;
}

.hero {
  background-color: #162753;
  height: 500px;
}
#hero-gold-flower {
  width: 100px;
  height: 100px;
  padding: 20px;
}
#hero-gold-diamond {
  width: 150px;
  height: 200px;
  float: right;
  position:relative;
}
h1 {
  font-family: myFirstFont;
  font-size: 68px;
  text-align: center;
  color: #FEACC6;
}
.about {
  height: 2000px;
  background-color: inherit;
}
.about-column {
  float: left;
  width: 40%;
  padding: 5%;
}
.image-column {
  float: right;
  width: 40%;
  padding: 5%;
  padding-top: 10%;

}
h3 {
  font-family: myFirstFont;
  font-size: 42px;
  color: #162753;
}
p {
  font-family: myFirstFont;
  font-size: 32px;
  color: #641B36;
  line-height: 1.5em;
}
#image-1 {
  height: 450px;
  width: 450px;
  float: left;
}
#bio-red-flower {
  height: 120px;
  width: 120px;
  padding-top: 25%;
  padding-left: 5%;
}

#image-2 {
  height: 450px;
  width: 450px;
  float: right;
  padding-top: 10%;
}
#image-3 {
  height: 450px;
  width: 450px;
  float: left;
  padding-top: 10%;
}
#bio-blue-flower {
  height: 120px;
  width: 120px;
  padding-top: 40%;
  padding-right: 5%;
}
