@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
#top-banner {
  width: 100%;
  height: 40px;
}

#backToTopButton {
  position: fixed;
  right: 100px;
}
.container {
  display : grid;
  width: 100%;
}
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-about {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-contact {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-work {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home:hover {
  color: #E2C8B1;
}
#nav-bar-about:hover {
  color: #E2C8B1;
}
#nav-bar-contact:hover {
  color: #E2C8B1;
}
#nav-bar-work:hover {
  color: #E2C8B1;
}

.hero {
  background-color: #162753;
  height: 1200px;
  width: 100%;
  position: relative;
}

.hero-small-column {
  float: left;
  width: 20%;
  height: 100%;
  position: relative;
}

.hero-column {
  float: left;
  width: 60%;
  height: 100%;
  position: relative;
}

.hero-column-row {
    height: 60%;
}

.hero-column-row-small {
    height: 40%;
    bottom : 5%;
}

#hero-gold-flower {
  width: 65%;
  padding: 10%;
  position: relative;
}

#hero-neb-image {
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
}

#hero-gold-diamond {
  width: 70%;
  position:relative;
  transform: rotateY(180deg);
  top: 75%;
}

h1 {
  font-family: myFirstFont;
  font-size: 68px;
  font-weight: lighter;
  text-align: center;
  color: #FEACC6;
  position:  relative;
}
h2 {
  font-family: myFirstFont;
  font-size: 42px;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  bottom: 10%;
}
button {
  background-color: #FEACC6;
  color: #162753;
  font-size: 20px;
  font-family: myFirstFont;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  margin-left: 40%;
  margin-right: 40%;
}
#button2 {
  background-color: #FEACC6;
  color: #162753;
  font-family: myFirstFont;
}
.summary {
  height:800px;
  background-color: inherit;
  padding: 5%;
  display: grid;
  position: relative;
}

.summary-row {
  position: relative;
}

.summary-cell {
  float: left;
  width: 25%;
  position: relative;
}

#summary-row-2-content {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  bottom: 50%;
}

#summary-row-3-content {
    position: relative;
    width : 100%;
    bottom: 25%;
}

#summary-blue-diamond {
  width: 280px;
  height: 190px;
  position: absolute;
  top: -5%;
  left: -10%;
}

#summary-blue-flower {
  width: 120px;
  height: 120px;
  top: 50%;
  position: relative;
}

#summary-red-flower {
  width: 120px;
  height: 120px;
  position: relative;
  left: 95%;
}

#summary-red-diamond {
  width: 150px;
  height: 200px;
  transform: rotateY(180deg);
  position: relative;
  top: 75%;
  left: 95%;
}

li {
  font-size: 26px;
  color: #162753;
  font-family: myFirstFont;
  list-style-type: none;
  text-align: left;
}

h3 {
  color: #162753;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
p {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}
h4 {
  font-family: myFirstFont;
  color: #162753;
  font-size: 26px;
  font-weight: lighter;
  text-align: left;
}

.problem {
  height: 300px;
  background-color: #641B36;
  padding: 5%;
  position: relative;
  width: 100%;
}
.problem-small-column {
  width: 10%;
  height: 100%;
  float: left;
  position: relative;
}
.problem-column {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}
#problem-flower {
  width: 70%;
}
#problem-diamond {
  width: 80%;
  top: 80%;
  transform: rotateY(180deg);
  position: relative;
  left: 50%;
}
#problem-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
#problem-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

.solution {
  height: 1000px;
  background-color: inherit;
  padding: 5%;
  position: relative;
  width: 100%;
}

.solution-column-small {
  width: 10%;
  height: 100%;
  float: left;
  position: relative;
}
.solution-column {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
  display: grid;
}
#solution-diamond {
  width: 100%;
  right: 50%;
  position: relative;
}
#solution-flower {
  width: 80%;
  top:90%;
  left: 50%;
  position: relative;
}
.center-column-row {
    width : 100%;
    position : relative;
}
.bottom-row-content {
  position: relative;
}

.solution-image {
  width: 100%;
  position: relative;
}
.image-column{
  width: 30%;
  padding: 1%;
  float: left;
  position: relative;
}
.process {
  height: 600px;
  width: 100%;
  background-color: #162753;
  position: relative;
  padding: 5%;
}

.process-small-column {
  width: 10%;
  height: 100%;
  position: relative;
  float: left;
}

.process-column {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}
#process-flower {
  width: 80%;
}
#process-diamond {
  width: 80%;
  top: 80%;
  transform: rotateY(180deg);
  position: relative;
  left: 50%;
}
#process-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
#process-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

.user-research {
  height: 900px;
  width: 100%;
  background-color: inherit;
  position: relative;
  padding: 5%;
}

.ur-small-column {
  width: 10%;
  height: 100%;
  position: relative;
  float: left;
}

.ur-column {
  width: 70%;
  height: 100%;
  float: left;
  position: relative;
}

.ur-column-row {
  width: 100%;
  height: 33%;
  position: relative;
}
.ur-row-cell {
  float: left;
  width: 40%;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  position: relative;
}
.ur-images {
  width:100%;
  position: relative;
}
#ur-diamond {
  width: 90%;
}
#ur-flower {
  width: 80%;
  top: 80%;
  position: relative;
  left: 50%;
}
#ur-header{
  color: #162753;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
#ur-content {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

#ur-link{
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  position: absolute;
  top: 120%;
  left: 45%;
}
.ca {
  height: 1500px;
  background-color: #162753;
  width: 100%;
  margin-top: 5%;
  padding: 5%;
}
.ca-column-small {
  width: 10%;
  height: 100%;
  position: relative;
  float: left;
}
.ca-column {
  width: 70%;
  height: 100%;
  position: relative;
  float: left;
}
.ca-column-row {
  position: relative;
}

#ca-column-second-row {
  left: 10%;
}

.ca-column-row-inner-column {
  float: left;
  position: relative;
  width: 30%;
  display: grid;
}
#ca-flower {
  width: 90%;
}
#ca-diamond {
  width: 100%;
  top: 90%;
  position: relative;
  left: 20%;
  transform: rotateY(180deg);
}
#ca-header {
  color: #E2C8B1;
  font-size: 32px;
}
#ca-content {
  color: #F2F2F2;
}
#ca-google {
  width: 50%;
  position: relative;
}
#ca-dropbox {
  width: 50%;
  position: relative;
  left: 5%;
}
#ca-onedrive {
  width: 70%;
  position: relative;
}
.ca-google-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
}

.ca-dropbox-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
}
.ca-onedrive-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
}
#ca-link{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 26px;
  position: absolute;
  top: 90%;
  left: 40%;
}

.persona{
  height: 3000px;
  width: 100%;
  background-color: inherit;
  padding: 5%;
}
.persona-small-column {
  width: 10%;
  position: relative;
  height: 100%;
  float: left;
}
.persona-column {
  width: 70%;
  height: 100%;
  position: relative;
  float: left;
}
#persona-red-flower{
  width: 80%;
}
#persona-red-diamond {
  width: 100%;
  top:50%;
  position: relative;
}
#persona-red-flower2{
  width: 80%;
  top:95%;
  position: relative;
}
#persona-blue-diamond{
  width: 150%;
  top:25%;
  position: relative;
  transform: rotateY(180deg);
}
#persona-blue-flower {
  width: 80%;
  top:60%;
  position: relative;
}
#persona-blue-diamond2{
  width: 150%;
  top:100%;
  position: relative;
  transform: rotateY(180deg);
}
#persona-header{
  font-size: 32px;
  color:#162753;
}
#persona-content {
  font-size: 26px;
  color: #641B36;
}
.neha-column {
  float: left;
  width: 50%;
  position: relative;
  top:2.5%;
}
.neha-cell {
  float: left;
  width: 35%;
  position: relative;
  margin-right: 2.5%;
}

#neha-2nd-cell {
  padding-right: 20%;
}

.ty-column {
  float: left;
  width: 50%;
  position: relative;
  top:2.5%;
}
.ty-cell {
    float: left;
    width: 35%;
    position: relative;
    margin-left: 2.5%;
}

#ty-1st-cell {
  padding-left: 20%;

}


#neha-quote {
  width: 100%;
  color: #162753;
  position: relative;
}
#ty-quote {
  width: 100%;
  position: relative;
}
#neha{
  width: 100%;
  position: relative;
}
#ty {
  width: 100%;
  position: relative;
}
#neha-info {
  color:#162753;
  font-size: 24px;
  position: relative;
  top: 5%;
}
