@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}

li {
  font-size: 26px;
  color: #162753;
  font-family: myFirstFont;
  list-style-type: none;
  text-align: left;
}

p {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

h1 {
  font-family: myFirstFont;
  font-size: 68px;
  font-weight: lighter;
  text-align: center;
  color: #FEACC6;
  position:  relative;
}
h2 {
  font-family: myFirstFont;
  font-size: 42px;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  bottom: 10%;
}

h3 {
  color: #162753;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}

h4 {
  font-family: myFirstFont;
  color: #162753;
  font-size: 26px;
  font-weight: lighter;
  text-align: left;
}

button {
  background-color: #FEACC6;
  color: #162753;
  font-size: 20px;
  font-family: myFirstFont;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  margin-left: 40%;
  margin-right: 40%;
}

#top-banner {
  width: 100%;
  height: 40px;
}

#backToTopButton {
  position: fixed;
  right: 100px;
}

/* Nav stuff*/
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-about {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-contact {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-work {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home:hover {
  color: #E2C8B1;
}
#nav-bar-about:hover {
  color: #E2C8B1;
}
#nav-bar-contact:hover {
  color: #E2C8B1;
}
#nav-bar-work:hover {
  color: #E2C8B1;
}

/*
  hero stuff
*/
#hero-page-section {
  background-color: #162753;
  height: 1400px;
}
#hero-column-small {
  /* overrides "column-small" class*/
  width: 10%;
}
#hero-column {
  /* overrides "column" class*/
  width: 80%;
}
#hero-row {
  height: 60%;
}
#hero-row-small {
    height: 40%;
}
#hero-gold-flower {
  /*
  width: 65%;
  padding: 10%;
  position: relative;
  */
}
#hero-neb-image {
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
}
#hero-gold-diamond {
  /*
  width: 70%;
  position:relative;
  top: 75%;
  */
  transform: rotateY(180deg);
}

#button2 {
  background-color: #FEACC6;
  color: #162753;
  font-family: myFirstFont;
}

/* Summary stuff */
#summary-page-section {
  height:1300px;
}
#summary-column-two {
  width: 80%;
}
#summary-blue-diamond {
}
#summary-blue-flower {
}
#summary-red-flower {
}
#summary-red-diamond {
  transform: rotateY(180deg);
}

/* Problem stuff*/

#problem-page-section {
  height: 300px;
  background-color: #641B36;
}
#problem-column-two {
  width: 80%;
}
#problem-flower {
  height: 25%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
#problem-diamond {
  height: 25%;
  top: 70%;
  transform: rotateY(180deg);
}
#problem-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
#problem-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

/* Solution stuff */

#solution-page-section {
  height: 1200px;
}
#solution-column-two {
  width: 80%;
}
#solution-diamond {
}
#solution-flower {
}

#solution-smaller-row {
  height: 20%;
}
#solution-bigger-row {
  height: 70%;
}

.solution-image {
  width: 33%;
  height: 100%;
  position: relative;
}

/* Process stuff*/
#process-page-section {
  height: 700px;
  background-color: #162753;
}

#process-column-two {
  width: 80%;
}
#process-flower {
}
#process-diamond {
  transform: rotateY(180deg);
}
#process-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
#process-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

/* User research stuff*/
#ur-page-section {
  height: 1500px;
}

.persona-column-image {
  height: 5%;
}
#ur-column-two {
  width: 80%;
}
#ur-row-smaller {
  height: 22%;
}
#ur-row-bigger {
  height: 34%;
}
#ur-row-small {
  height: 4%;
}
#ur-image {
  width: 47%;
  height: 95%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
  position: relative;
}
#ur-diamond {
}
#ur-flower {
}
#ur-header{
  color: #162753;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
  position: relative;
  height: 20%;
}
#ur-content {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
  position: relative;
  height: 80%;
}

#ur-link{
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  position: relative;
  top: 80%;
  left: 45%;
}

/* competitive analysis section */
#ca-page-section {
  height: 1500px;
  background-color: #162753;
}
#ca-column-two {
  width: 80%;
}
#ca-first-row {
  height: 40%;
  left: 5%;
}
#ca-second-row {
  height: 40%;
  left: 10%;
}
#ca-inner-column {
  width: 30%;
  display: grid;
}
#ca-flower {
}
#ca-diamond {
  transform: rotateY(180deg);
}
#ca-header {
  color: #E2C8B1;
  font-size: 32px;
}
#ca-content {
  color: #F2F2F2;
}
#ca-dropbox-image {
  left: 5%;
}
#ca-onedrive-image {
  width: 70%;
}
.ca-google-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
}
.ca-dropbox-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
}
.ca-onedrive-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
}
#ca-link{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 26px;
  position: absolute;
  top: 90%;
  left: 40%;
}

/* Persona stuff*/
#persona-page-section{
  height: 3000px;
}
#persona-column-two {
  width: 80%;
}
#persona-red-flower{
}
#persona-red-diamond {
}

#persona-blue-diamond{
  transform: rotateY(180deg);
}
#persona-blue-flower {
}
#persona-blue-diamond2{
  transform: rotateY(180deg);
}
#persona-header{
  font-size: 32px;
  color:#162753;
}
#persona-content {
  font-size: 26px;
  color: #641B36;
}
#title-row {
  height: 7%;
}
#motivations-row {
  height: 15%;
}
#user-stories-row {
  height: 12%;
}
.inner-column {
  padding-left: 7%;
}
#neha-inner-column {
  width: 35%;
  margin-right: 2.5%;
}
#ty-inner-column {
  width: 35%;
  margin-left: 2.5%;
}
#neha-quote {
  width: 100%;
  color: #162753;
  position: relative;
}
#ty-quote {
  width: 100%;
  position: relative;
}
#neha-image{
  height: 70%;
  width: 100%;
  position: relative;
}
#ty-image {
  height: 70%;
  width: 100%;
  position: relative;
}
.neha-info {
  color:#162753;
  font-size: 24px;
  position: relative;
}
.ty-info {
  color:#162753;
  font-size: 24px;
  position: relative;
}
#view-user-persona-link {
  position: relative;
  left: 40%;
  font-family: myFirstFont;
  color: #641B36;
  font-size: 26px;
}

/*
  User flows stuff
*/
#user-flows-page-section {
  background-color: #162753;
}
#user-flows-column-two-header {
  text-align: left;
  color: #FEACC6;
}
#user-flow-image {
  height: 70%;
  width: 85%;
  padding-left: 10%;
  padding-right: 5%;
}
#user-flow-link {
  position: relative;
  left: 45%;
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 26px;
  top: 5%;
}
#user-flow-text {
  color: #F2F2F2;
}
#user-center-column {
  width: 80%;
}
#user-flow-row-1 {
  height: 20%;
}
#user-flow-row-2 {
  height: 80%;
}

/*
  Wireframes
*/
#wireframes-page-section {
  height: 2400px;
}
#wireframes-column-two-header {
  text-align: left;
}

#wireframes-center-column{
  width: 80%;
}
#wireframes-image-one {
  height: 80%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;
  width: 85%;
}
#wireframes-image-two {
  height: 80%;
  padding-left: 10%;
  padding-right: 5%;
  width: 85%;
}
#wireframes-row-one {
  height: 15%;
}
#wireframes-row-two {
  height: 40%;
}
#wireframes-row-three {
  height: 45%;
}
#wireframes-link {
    position: relative;
    left: 45%;
    color: #641B36;
    font-family: myFirstFont;
    font-size: 26px;
    top: 5%;
}

.wireframes-column-image {
  height: 5%;
}

/*
  Mockups
*/
#mockups-page-section {
  background-color: #641B36;
}

#mockups-column-two-header {
  text-align: left;
  color: #FEACC6;
}
#mockups-text{
  color: #F2F2F2;
}
#mockups-center-column {
  width: 80%;
}
#mockups-row-1 {
  height: 25%;
}
#mockups-row-2 {
  height: 75%;
}
#mockups-image-1 {
  width: 90%;
  height: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-2 {
  width: 90%;
  height: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-3 {
  width: 90%;
  height: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-link {
  position: relative;
  left: 45%;
  top: -15%;  /* come back and figure out why this needs to be negative*/
  font-family: myFirstFont;
  color: #E2C8B1;
  font-size: 26px;
}

/*
  Branding
*/
#branding-page-section {
  height: 3000px;
}

.branding-column-image {
  height: 5%;
}
#branding-column-two-header {
  text-align: left;
}
#branding-column-two {
    width: 80%;
}
#branding-image-one {
  height: 80%;
  padding-left: 25%;
  padding-right: 25%;
}
#branding-image-two {
  height: 80%;
  padding-left: 25%;
  padding-right: 25%;
}
#branding-image-three {
  height: 80%;
  padding-left: 25%;
  padding-right: 25%;
}
#branding-image-four {
  height: 90%;
}

/*
  Prototyping
*/
#prototyping-page-section {
  background-color: #162753;
  height: 2800px;
}
.prototyping-column-image {
  height: 5%;
}
#prototyping-column-two {
  width: 80%;
}
#prototyping-column-two-header {
  text-align: left;
  color: #FEACC6;
}

#prototyping-text{
  color: #F2F2F2;
}
#prototyping-bold-text {
  color: #E2C8B1;
  position: relative;
  left: 30%;
}

#prototyping-round-button {
  height: 80%;
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
}
#prototyping-square-button {
  height: 80%;
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
}
#prototyping-light-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototyping-dark-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototype-multi-logo {
  height: 80%;
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
}
#prototype-monochrome-logo {
  height: 80%;
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
}

#prototype-last-row{
    top: -15%;
}

/*
  Conclusion
*/
#conclusion-page-section {
  height: 2000px;
}
#conclusion-column-two {
  width: 80%;
}
.conclusion-column-image {
  height: 5%;
}
#conclusion-column-two-header {
  text-align: left;
}
#conclusion-image-one {
  width: 80%;
  padding-right: 20%;
}
#conclusion-image-two {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#conclusion-image-three {
  width: 80%;
  padding-left: 20%;
}


/*
  footer
*/

#footer-page-section {
  background-color:  #162753;
  height: 414px;
}
#footer-column-2 {
  width: 80%;
  text-align: center;
}
#footer-text {
  color:#FFFFFF;
  font-size: 42px;
  font-family: myFirstFont;
  font-weight: lighter;
  position: relative;
  top: 30%;
  left: 35%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: relative;
}
#footer-github {
  height: 50px;
  width: 50px;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}
#footer-linkedin{
    margin-left:5%;
}
#footer-instagram{
    margin-left:5%;
}
#footer-email{
    margin-left:5%;
}
#footer-github{
    margin-left:5%;
}
