
/****************
 *
 * basic .css
 *
 * ***************/

/* general*/

.container {
  display : grid;
  width: 100%;
  margin: 1px;
}
.page-section {
  width: 100%;
  position: relative;
  background-color: inherit;
  /* this is the default height, can overwrite by using an ID*/
  height: 1200px;
}

/*columns*/
.column {
  float: left;
  width: 70%;
  height: 100%;
  position: relative;
}
.column-half {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 375px){
  .column-half {
    float: left;
    width: 100%;
    height: 50%;
    position: relative;
  }
}
.column-quarter {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 375px){
  .column-quarter {
    float: left;
    width: 100%;
    height: 25%;
    position: relative;
  }
}
.column-third {
  float: left;
  width: 33%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 375px){
  .column-third {
    float: left;
    width: 100%;
    height: 33%;
    position: relative;
  }
}
.column-small {
  float: left;
  width: 10%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 375px){
  .column-small {
    float: left;
    width: 100%;
    height: 10%;
    position: relative;
  }
}
.column-big {
  float: left;
  width: 80%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 375px){
  .column-big {
    float: left;
    width: 100%;
    height: 80%;
    position: relative;
  }
}

/*rows*/
.row {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-half {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-quarter {
  width: 100%;
  height: 25%;
  position: relative;
}
.row-third {
  width: 100%;
  height: 33%;
  position: relative;
}
.row-big {
  width: 100%;
  height: 90%;
  position: relative;
}
.row-small {
  width: 100%;
  height: 10%;
  position: relative;
}
.row-smallest {
  width: 100%;
  height: 5%;
  position: relative;
}

/*images*/
.full-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.full-width-image {
  position: relative;
  width: 100%;
}
.half-width-image {
  position: relative;
  width: 50%;
}
.column-top-image {
  position: absolute;
  top: 5%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.column-mid-image {
  position: absolute;
  top: 50%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.column-bottom-image {
  position: absolute;
  top: 80%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
.column-image-smallest-height {
  height: 5%;
}
.column-image-smaller-height {
  height: 10%;
}
.column-image-bigger-height {
  height: 20%;
}
.column-image-wider {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/****************
 *
 * index .css
 *
 * ***************/

/*
  maroon -- 641B36
*/

@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
#top-banner {
  width: 100%;
  height: 40px;
}
li {
  font-size: 1.875rem;
  color: #162753;
  font-family: myFirstFont;
  list-style-type: none;
}
h1 {
    color: #FEACC6;
    font-family: myFirstFont;
    font-size: 4.25rem;
    font-weight: lighter;
    text-align: center;
    position:  relative;
}
h2 {
  color: #FFFFFF;
  font-family: myFirstFont;
  font-weight: lighter;
  font-size: 2.625rem;
  text-align: center;
  position: relative;
  bottom: 10%;
}
h3 {
  color: #162753;
  font-family: myFirstFont;
  font-size: 2rem;
  font-weight: lighter;
}
h4 {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 1.625rem;
  font-weight: lighter;
}
h5 {
  color: #E2C8B1;
  font-size: 2.25rem;
  font-family: myFirstFont;
}

/*
  nav
*/
.nav {
  height: 150px;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
.nav-bar-home {
  color: #162753;
}
.nav-bar-about {
  color: #162753;
}
.nav-bar-contact {
  color: #641B36;
}
.nav-bar-work{
  color: #641B36
}
.nav-bar-home:hover {
  color: #E2C8B1;
}
.nav-bar-about:hover {
  color: #E2C8B1;
}
.nav-bar-contact:hover {
  color: #E2C8B1;
}
.nav-bar-work:hover {
  color: #E2C8B1;
}

/*
  Hero stuff
*/
#hero-page-section-home-page {
  background-color: #162753;
  height: 800px;
}
.hero-column {
  align-content: center;
}
#hero-column-content {
  position: relative;
  top: 10%;
  left: 15%;
}
#hero-flower-image {
 width: 80%;
 position: relative;
 top: 10%;
 left: 20%;
}

.hero-button-home-page {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;

    background-color: #FEACC6;
    color: #162753;
    font-size: 1rem;
    font-family: myFirstFont;
    border-radius: 6px;
    width: 50%;
    height: 30%;
    left: 20%;
    position:relative;
    text-decoration: none;
}
/*
  Nebula row
*/
#nebula-page-section {
    height: 680px;
}
#nebula-column-three {
  width: 30%;
}
#nebula-neb-image {
 width : 573px;
 /*width: 100%;*/
 height: 556px;
 position: relative;
 padding-top: 7%;
 padding-left: 15%;
}
#nebula-content {
  padding-left: 10%;
}

.nebula-button {
  background-color: #162753;
  color: #E2C8B1;
  font-family: myFirstFont;

  display: block;
  width: 115px;
  height: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
}

@media screen and (max-width: 375px){
  #nebula-column-image-one {
    visibility: hidden;
  }
  #nebula-column-image-two {
    visibility: hidden;
  }
  #nebula-column-two {
    width: 100%;
    height: 50%;
  }
  #nebula-column-three {
    width: 100%;
    height: 30%;
  }
  #nebula-neb-image {
   width : 200px;
   /*width: 100%;*/
   height: 200px;
   position: relative;
   padding-top: 7%;
   padding-left: 15%;
  }
}


/*
  bio section
*/
#bio-page-section {
  background-color:  #641B36;
  height: 800px;
}
.bio-column {
  float: left;
  width: 40%;
}


#bio-content-1 {
  padding-top: 5%;
  padding-left: 15%;
}
#bio-content-2 {
  padding-top:20%;
  padding-left: 10%;
}
#bio-text {
  color: #FFFFFF;
  font-size: 2.25rem;
  font-family: myFirstFont;
}
#bio-home-image {
  width: 418px;
  height: 433px;
}
#bio-link {
  color: #E2C8B1;
  font-size: 1.625rem;
  font-family: myFirstFont;
  padding-left: 17%;
}

@media screen and (max-width: 375px){
  .bio-column {
    float: left;
    height: 40%;
    width: 100%;
  }
  #bio-column-image-one {
    visibility: hidden;
  }
  #bio-column-image-two {
    visibility: hidden;
  }
  #bio-text {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-family: myFirstFont;
  }
  #bio-home-image {
    width: 200px;
    height: 200px;
  }
}

/*
  skills
*/
#skills-page-section {
  height: 1050px;
  text-align: center;
}
#skills-main-header {
  color: #162753;
  font-size: 3rem;
  font-family: myFirstFont;
  text-align:  center;
}
#skills-cell-1 {
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  text-align: center;
}
#skills-cell-2 {
  border-top: 1px solid #dfdfdf;
}
#skills-cell-3 {
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
#skills-cell-4 {
  border-left: 1px solid #dfdfdf;
}
.skills-blue-flower {
  margin-top:5%;
  width: 40px;
  height: 40px;
}
.skills-blue-diamond {
  margin-top: 5%;
  width: 85px;
  height: 60px;
}
.skills-heading {
  font-size: 2.25rem;
  color: #641B36;
  font-family: myFirstFont;
  margin-top:-.5%;
  text-align: center;
}
.skills-list {
  margin-top: -5%;
}
.skill-list-item {
  padding-right: 50px;
  text-align: center;
}

@media screen and (max-width: 375px){
  #skills-cell-1 {
    border-bottom: 0px solid #dfdfdf;
    border-right: 0px solid #dfdfdf;
    text-align: center;
  }
  #skills-cell-2 {
    border-top: 0px solid #dfdfdf;
  }
  #skills-cell-3 {
    border-left: 0px solid #dfdfdf;
    border-bottom: 0px solid #dfdfdf;
  }
  #skills-cell-4 {
    border-left: 0px solid #dfdfdf;
  }
  .skill-list-item {
    padding-right: 50px;
    text-align: center;
    font-size: 1.2rem;
  }
}

/*
  footer
*/
.footer-page-section {
  background-color:  #162753;
  height: 414px;
}
#footer-column-2 {
  width: 80%;
  text-align: center;
}
#footer-text {
  color:#FFFFFF;
  font-size: 2.625rem;
  font-family: myFirstFont;
  font-weight: lighter;
  position: relative;
  top: 30%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: relative;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}
.footer-linkedin{
    margin-left:5%;
}
.footer-instagram{
    margin-left:5%;
}
.footer-email{
    margin-left:5%;
}
.footer-github{
    margin-left:5%;
    height: 50px;
    width: 50px;
}

.footer-homepage-image {
  height: 20%;
}
#footer-bottom-image {
  top: 70%;
}


/****************
 *
 * case study .css
 *
 * ***************/
@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;

  /* maybe figure out why it was overflowing in the first place */
  overflow-x: hidden;
}

li {
  font-size: 26px;
  color: #162753;
  font-family: myFirstFont;
  list-style-type: none;
  text-align: left;
}

p {
  color: #641B36;
  font-family: myFirstFont;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.5em;
}

#backToTopButton {
  position: fixed;
  right: 100px;
}

/* Nav stuff*/
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}

/*
  hero stuff
*/
#hero-page-section {
  background-color: #162753;
  height: 1400px;
}
#hero-row {
  height: 60%;
}
#hero-row-small {
    height: 40%;
}
#hero-neb-image {
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
}
#hero-heading {
    position: relative;
    top: 30%;
}
.about-hero-gold-diamond {
  height: 20%;
  transform: rotateY(180deg);
}
.hero-button {
  background-color: #162753;
  color: #162753;
  font-family: myFirstFont;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  background-color: #FEACC6;
  position: relative;
  left: 45%;
}


/* Summary stuff */
#summary-page-section {
  height:1300px;
}
#summary-blue-diamond {
  transform: rotateY(180deg);
}
.summary-row-one {
  height: 40%;
}
.summary-row-two {
  height: 60%;
}
/* Problem stuff*/

#problem-page-section {
  height: 300px;
  background-color: #641B36;
}
#problem-column-two {
  width: 80%;
}
#problem-flower {
  height: 25%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
#problem-diamond {
  height: 25%;
  top: 70%;
  transform: rotateY(180deg);
}
#problem-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 2rem;
  font-weight: lighter;
}
#problem-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 1.625rem;
  font-weight: lighter;
}

/* Solution stuff */

#solution-page-section {
  height: 1400px;
}
#solution-smaller-row {
  height: 30%;
}
#solution-bigger-row {
  height: 70%;
  top:-10%;
}

.solution-image {
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 30%;
  height: 70%;
  position: relative;
}

/* Process stuff*/
#process-page-section {
  height: 700px;
  background-color: #162753;
}
#process-diamond {
  transform: rotateY(180deg);
}
#process-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 2rem;
  font-weight: lighter;
}
.process-text-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 1.625rem;
  font-weight: lighter;
}

/* User research stuff*/
#ur-page-section {
  height: 1100px;
}

.persona-column-image {
  height: 5%;
}

#person-left-column-image-1 {
  top: 10%;
}
#person-left-column-image-2 {
  top: 40%;
}
#person-left-column-image-3 {
  top: 70%;
}
#person-right-column-image-1 {
  top: 30%;
}
#person-right-column-image-2 {
  top: 60%;
}
#person-right-column-image-3 {
  top: 90%;
}

#ur-row-smaller {
  height: 25%;
}
.ur-row-bigger {
  height: 30%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#ur-row-small {
  height: 4%;
}
.ur-image {
  width: 45%;
  height: 85%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}
#ur-header{
  color: #162753;
  font-family: myFirstFont;
  font-size: 2rem;
  font-weight: lighter;
  position: relative;
  height: 20%;
}
#ur-content {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 1.625rem;
  font-weight: lighter;
  position: relative;
  height: 80%;
}

#ur-link{
  color: #641B36;
  font-family: myFirstFont;
  font-size: 1.625rem;
  position: relative;
  top: 80%;
  left: 45%;
}

/* competitive analysis section */
#ca-page-section {
  height: 1900px;
  background-color: #162753;
}
.ca-first-row {
  height: 35%;
}
.ca-second-row {
  height: 55%;
}
.ca-second-inner-row {
  height: 75%;
}
.ca-bottom-column-image {
  top: 87%;
  height: 7%;
}
.ca-inner-column {
  width: 25%;
  padding-left: 3.5%;
  padding-right: 3.5%;
}
#ca-diamond {
  transform: rotateY(180deg);
}
#ca-header {
  color: #E2C8B1;
  font-size: 2rem;
}
.ca-content {
  color: #F2F2F2;
}
#ca-google-drive-image {
  height: 75%;
  width: 35%;
  left: 10%;
}
#ca-dropbox-image {
  left: 15%;
  height: 75%;
  width: 35%;
}
#ca-onedrive-image {
  width: 80%;
}
.ca-google-list {
  font-family: myFirstFont;
  font-size: 1.625rem;
  color: #E2C8B1;
  margin: 15% 0 10px 0;
}
.ca-dropbox-list {
  font-family: myFirstFont;
  font-size: 1.625rem;
  color: #E2C8B1;
  margin: 15% 0 10px 0;
}
.ca-onedrive-list {
  font-family: myFirstFont;
  font-size: 1.625rem;
  color: #E2C8B1;
  margin: 15% 0 10px 0;
}
#ca-link{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 1.625rem;
  position: absolute;
  left: 40%;
}
#ca-dropbox-weaknesses {
  padding-top: 12%;
}
/* Persona stuff*/
#persona-page-section{
  height: 3200px;
}
#persona-blue-diamond{
  transform: rotateY(180deg);
}
#persona-blue-diamond2{
  transform: rotateY(180deg);
}
#persona-header{
  font-size: 2rem;
  color:#162753;
}
#persona-content {
  font-size: 1.625rem;
  color: #641B36;
}
.persona-names-row {
  height: 3%;
  padding-top: 1%;
}
.persona-motivations-row {
  height: 15%;
}
.persona-inner-column {
  padding-left: 7%;
}
.persona-user-stories-row {
  height: 15%;
}
.persona-user-stories-image {
 height : 100%;
}
.neha-inner-column {
  width: 35%;
  margin-right: 2.5%;
}
.ty-inner-column {
  width: 35%;
  margin-left: 2.5%;
}
#neha-quote {
  width: 100%;
  color: #162753;
  position: relative;
}
#ty-quote {
  width: 100%;
  position: relative;
}
#neha-image{
  height: 60%;
  width: 100%;
  position: relative;
}
#ty-image {
  height: 60%;
  width: 100%;
  position: relative;
}
.neha-info {
  color:#162753;
  font-size: 1.5rem;
}
.ty-info {
  color:#162753;
  font-size: 1.5rem;
}
#view-user-persona-link {
  position: relative;
  left: 40%;
  font-family: myFirstFont;
  color: #641B36;
  font-size: 1.625rem;
}

/*
  User flows stuff
*/
#user-flows-page-section {
  background-color: #162753;
  height: 1800px;
}
#user-flows-column-two-header {
  text-align: left;
  color: #FEACC6;
}
#user-flow-image {
  height: 70%;
  width: 85%;
  padding-left: 10%;
  padding-right: 5%;
}
#user-flow-link {
  position: relative;
  left: 45%;
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 1.625rem;
  top: 5%;
}
.user-flow-text {
  color: #F2F2F2;
}
#user-flow-row-1 {
  height: 20%;
  padding-top: 10%;
}
#user-flow-row-2 {
  height: 70%;
}

.user-flow-column-image {
  transform: rotateY(180deg);
}

/*
  Wireframes
*/
#wireframes-page-section {
  height: 2400px;
}
#wireframes-column-two-header {
  text-align: left;
}
#wireframes-image-one {
  top:-10%;
  width: 85%;
  margin-left: 5%;
}
#wireframes-image-two {
  top:-10%;
  margin-left: 5%;
  width: 85%;
  display: visible;
}
#mobile-wireframes {
  display: none;
}

#wireframes-column-image-one {
  top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
}
#wireframes-column-image-three {
  top: 30%;
}
#wireframes-row-one {
  padding-top: 10%;
  height: 20%;
}
#wireframes-row-two {
  height: 35%;
}
#wireframes-row-three {
  height: 35%;
}
#wireframes-link {
    position: relative;
    left: 45%;
    color: #641B36;
    font-family: myFirstFont;
    font-size: 1.625rem;
    top: 5%;
}

.wireframes-column-image {
  height: 7%;
}

/*
  Mockups
*/
#mockups-page-section {
  background-color: #641B36;
  height: 1600px;
}

#mockups-column-two-header {
  text-align: left;
  color: #FEACC6;
}
#mockups-text{
  color: #F2F2F2;
}
#mockups-row-1 {
  height: 35%;
}
#mockups-row-2 {
  height: 65%;
  top:-10%;
}
#mockups-image-1 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-2 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-3 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-link {
  position: relative;
  left: 45%;
  top: -15%;  /* come back and figure out why this needs to be negative*/
  font-family: myFirstFont;
  color: #E2C8B1;
  font-size: 1.625rem;
}

/*
  Branding
*/
#branding-page-section {
  height: 3600px;
}

.branding-column-image {
  height: 5%;
}
#branding-column-two-header {
  text-align: left;
}
#branding-image-one {
  padding-left: 25%;
  padding-right: 25%;
  top:-10%;
}
#branding-image-two {
  padding-left: 25%;
  padding-right: 25%;
  top:-10%;
}
#branding-image-three {
  padding-left: 25%;
  padding-right: 25%;
  top:-10%;
}
.branding-row {
  height: 25%;
}
.branding-other-row {
  padding-top: 5%;
  height: 20%;
}

/*
  Prototyping
*/
#prototyping-page-section {
  background-color: #162753;
  height: 2800px;
}
.prototyping-column-image {
  height: 5%;
}
#prototyping-column-two-header {
  text-align: left;
  color: #FEACC6;
}
#prototyping-text{
  color: #F2F2F2;
}
#prototyping-bold-text-one {
  color: #E2C8B1;
  position: relative;
  left: 30%;
}
#prototyping-bold-text-two {
  color: #E2C8B1;
  position: relative;
  left: 35%;
}
#prototyping-bold-text-three {
  color: #E2C8B1;
  position: relative;
  left: 30%;
}
#prototyping-round-button {
  height: 80%;
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
}
#prototyping-square-button {
  height: 80%;
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
}
#prototyping-light-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototyping-dark-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototype-multi-logo {
  height: 100%;
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
}
#prototype-monochrome-logo {
  height: 100%;
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
}
#prototype-last-row{
    top: -10%;
}
#prototyping-logos-row {
  top: 10%;
}
.prototyping-row-one {
  height: 30%;
}
.prototyping-smaller-row {
  height: 15%;
  top:-5%;
}
.prototyping-other-row {
  height: 30%;
  top:-5%;
}

/*
  Conclusion
*/
#conclusion-page-section {
  height: 2200px;
}
.conclusion-column-image {
  height: 5%;
}
.conclusion-row-one {
  height: 60%;
}
.conclusion-row-two {
  height: 30%;
  top:-10%;
}
#conclusion-column-two-header {
  text-align: left;
}
#conclusion-image-one {
  width: 80%;
  padding-right: 20%;
}
#conclusion-image-two {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#conclusion-image-three {
  width: 80%;
  padding-left: 20%;
}

.conclusion-button {
  color: #162753;
  font-family: myFirstFont;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  background-color: #FEACC6;
  position: relative;
  left: 45%;
}

/*
  footer
*/

.footer-column-2 {
  text-align: center;
}
#footer-text {
  color:#FFFFFF;
  font-size: 2.625rem;
  font-family: myFirstFont;
  font-weight: lighter;
  position: relative;
  top: 30%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: relative;
}
#footer-github {
  height: 50px;
  width: 50px;
}
#footer-right-image {
  top: 50%;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}

.back-to-top {
    position: fixed;
    right: 1%;
    bottom: -7.5%;
    height: 15px;
    width: 30px;
    padding: 3px 5px;
    font-size: .625rem;
    font-weight: bolder;
    font-family: myFirstFont;
    color: transparent;
    opacity: 0.5;
    z-index: 3;
    visibility: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

.back-to-top:hover, .back-to-top:focus {
        opacity: 1;
        text-decoration: none;
}

.back-to-top:focus {
        outline: thin dotted;
}

.back-to-top::before,
.back-to-top::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
}

.back-to-top::before {
	top: -20px;
	z-index: 4;
	border-bottom: 20px solid #858585;

}
.back-to-top::after {
	bottom: 0;
	z-index: 5;
	border-bottom: 20px solid #505050;
}
.back-to-top:hover,
.back-to-top:focus {
	height: 40px;
	color: #212223;
}
.show-back-to-top {
	display: block;
	bottom: 1.25%;
	visibility: visible;
}



/****************
 *
 * bio .css
 *
 * ***************/
@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
.hero {
  background-color: #162753;
  height: 500px;
}
.about {
  height: 2200px;
  background-color: inherit;
}
.about-column {
  float: left;
  width: 40%;
  padding: 5%;
}
.image-column {
  float: right;
  width: 40%;
  padding: 5%;
  padding-top: 15%;

}

#image-1 {
  width: 450px;
  float: left;
}
#bio-red-flower {
  width: 120px;
  padding-top: 25%;
  padding-left: 5%;
}

#image-2 {
  width: 450px;
  float: right;
  padding-top: 10%;
}
#image-3 {
  width: 450px;
  float: left;
  padding-top: 10%;
}
#bio-blue-flower {
  width: 120px;
  padding-top: 40%;
  padding-right: 5%;
}

#bio-red-flower-2 {
  width: 120px;
  padding-top: 40%;
  padding-left: 5%;
}
.footer {
  background-color:  #162753;
  height: 410px;
  position: relative;
}
.footer-center-column {
  text-align: center;
}
.footer-center-row {
  text-align: center;
}
.footer-diamond-image {
  height: 20%;
  top: 70%;
}
.footer-flower-image {
  height: 20%;
}
#footer-text {
  color:#FFFFFF;
  font-size: 2.625rem;
  font-family: myFirstFont;
  font-weight: lighter;
  position: relative;
  top: 30%;
 }
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}
#footer-github {
  height: 50px;
  width: 50px;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}

/*
  media queries
*/
@media screen and (min-width: 375px) and (max-width: 480px){
    .container {
        width: 100%;
      }
    #top-banner {
      display: none;
    }
    p {
      font-size: 1rem;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.375rem;
    }
    #hero-page-section{
        height: 650px;
    }
      #hero-column-one {
        top: 40%;
      }
      #hero-column-two {
        top: -50%;
      }
      #hero-column-content {
        position: relative;
        width: 80%;
        top: 10%;
        left: 10%;
      }
      #hero-flower-image {
       width: 80%;
       position: relative;
       top: 30%;
       left: 10%;
      }
      #hero-neb-image {
        width: 60%;
      }
      #hero-neb-text {
        top: -20%;
      }
      .hero-button {
        left: 30%;
      }
      .nav-logo {
        height: 50px;
        width: 50px;
      }
      .hero-button-home-page {
          display: block;
          padding: 10px;
          text-align: center;
          font-weight: bold;
          line-height: 25px;

          background-color: #FEACC6;
          color: #162753;
          font-size: 1rem;
          font-family: myFirstFont;
          border-radius: 6px;
          width: 50%;
          height: 30%;
          left: 20%;
          position:relative;
          text-decoration: none;
      }
      .nav-links {
        display: none;
      }
      #nebula-neb-image {
        width: 70%;
      }
      #bottom-banner {
        display: none;
      }
      #footer-text {
        font-size: 2.225rem;
      }
      .column-small {
        display: none;
      }
      #nebula-column-three {
        top:-10%;
      }
      .nebula-button {
        width: 40%;
        left: 10%
      }
      #nebula-content {
        padding-left: 10%;
        text-align: center;
      }
      .nebula-button {
        margin-left: 25%;
      }
      #bio-home-image {
        width: 300px;
        height: 250px;
        margin-top:10%;
      }
      h5 {
        font-size: 1.5rem;
      }

      #bio-content2 {
        padding-left: 10%;
      }
      #skills-cell-1 {
        padding-bottom:10%;
      }
      #skills-cell-3 {
      }
      #skills-cell-4 {
        padding-top: 25%;
      }
      .column-half {
        height: 40%;
      }

      /*
        summary
      */
      #summary-page-section {
        height: 800px;
      }
      #summary-heading {
        margin-left: 10%;
        margin-right: 10%;
      }
      .summary-text-content {
        margin-left: 10%;
        margin-right: 10%;
      }
      #summary-user-research-heading {
        position :relative;
        top : 180%;
      }
      #summary-tools-used-heading {
        position :relative;
        top : 750%;
      }
      #summary-user-research {
        position: relative;
        top : 40%;
      }
      #summary-tools-used {
        position: relative;
        top: 275%;
      }

      /*
        problem
      */
      #problem-header {
        margin-left: 10%;
        margin-right: 10%;
      }

      #problem-content {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.0rem;
      }

      /*
        solution
      */

      #solution-header{
        margin-left: 10%;
        margin-right: 10%;
      }
      #solution-content {
        margin-left: 10%;
        margin-right: 10%;
      }
      #solution-page-section {
          height: 700px;
      }
      #solution-smaller-row {
        height: 60%;
      }
      #solution-bigger-row {
        height: 40%;
      }
      .solution-image {
        width: 30%;
        margin-left: 1%;
        margin-right: 1%;
        height: 110%;
      }

    /*
      process
    */
    #process-page-section{
      height: 875px;
    }
    #process-header {
      margin-left: 10%;
      margin-right: 10%;
    }
    .process-text-content {
      font-size: 1.0rem;
      margin-left: 10%;
      margin-right: 10%;
    }

    /*
      ur
    */
    #ur-page-section {
      height : 1400px;
    }
    #ur-header {
      margin-left: 10%;
      margin-right: 10%;
    }
    #ur-content {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 1.0rem;
    }

    #ur-image-one {
      margin-left: 5%;
      margin-right: 5%;
      width : 90%;
      height: 45%;
      margin-bottom: 5%;
    }
    #ur-image-two {
      margin-left: 5%;
      margin-right: 5%;
      width : 90%;
      height: 45%;
      margin-bottom: 5%;
    }
    #ur-image-three {
      margin-top : 5%;
      margin-left: 5%;
      margin-right: 5%;
      width : 90%;
      height: 45%;
    }
    #ur-image-four {
      margin-top : 5%;
      margin-left: 5%;
      margin-right: 5%;
      width : 90%;
      height: 45%;
    }

    .ur-row-bigger {
      position: relative;
      top: 10%;
    }
    #ur-row-small {
      position: relative;
      top: 10%;
    }

    #ur-link{
      color: #641B36;
      font-family: myFirstFont;
      font-size: 1.225rem;
      position: relative;
      top: 80%;
      left: 35%;
    }

    /*
      ca
    */
    #ca-page-section {
      background-color: #641B36;
      height: 2500px;
    }

    #ca-header {
      margin-left: 10%;
      margin-right: 10%;
    }
    .ca-content {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 1.0rem;
    }
    .ca-google-list {
      font-size: 1.2rem;
      width: 300%;
    }
    .ca-dropbox-list {
      font-size: 1.2rem;
      width: 300%;
    }
    .ca-onedrive-list {
      font-size: 1.2rem;
      width: 300%;
    }

    #ca-google-drive-image {
      position: relative;
      top: 75%;
      width: 100%;
      height: 100%;
      left: 95%;
    }
    #ca-google-drive-strengths {
      font-size: 1.0rem;
      position: relative;
      top: -90%;
      left: 40%;
    }
    #ca-google-drive-weaknesses {
      font-size: 1.0rem;
      position: relative;
      top: -250%;
      left: 40%;
    }

    #ca-dropbox-image{
      position: relative;
      top: 650%;
      width: 100%;
      left: -5%;
    }
    #ca-dropbox-strengths {
      font-size: 1.0rem;
      position: relative;
      top: 300%;
      left: -80%;
    }
    #ca-dropbox-weaknesses {
      font-size: 1.0rem;
      position: relative;
      left: -80%;
      top: 100%;
    }

    #ca-onedrive-image{
      position: relative;
      top: 1200%;
      width: 150%;
      left: -150%;
    }
    #ca-onedrive-strengths {
      font-size: 1.0rem;
      position: relative;
      top: 650%;
      left: -200%;
    }
    #ca-onedrive-weaknesses {
      font-size: 1.0rem;
      position: relative;
      top: 500%;
      left: -200%;
    }

    #ca-link {
      font-size: 1.0rem;
      position: absolute;
      top: 275%;
      left: 20%;
    }

    /*
      persona
    */

    #persona-page-section {
      height: 1700px;
    }

    #persona-header {
      margin-left: 10%;
      margin-right: 10%;
    }

    #persona-content {
      font-size: 1.0rem;
      margin-left: 10%;
      margin-right: 10%;
    }

    #neha-image {
      position: relative;
      top: 1000%;
      width: 175%;
      height: 900%;
      left: -45%;
    }

    #neha-bio {
      position: relative;
      top: 1400%;
      left: 10%;
      color: #641B36;
      font-size: 1.5rem;
    }

    #neha-quote {
      position: relative;
      top: 2100%;
      width: 250%;
      left: 40%;
      color: #641B36;
      font-size: 1.225rem;
    }
    #ty-image {
      position: relative;
      top: 2450%;
      width: 175%;
      height: 900%;
      left: 40%;
    }
    #ty-bio {
      position: relative;
      top: 3700%;
      left: 10%;
      color: #641B36;
      font-size: 1.5rem;
    }
    #ty-quote {
      position: relative;
      top: 3600%;
      color: #641B36;
      font-size: 1.225rem;
      width: 250%;
      left: -80%;
    }
    .persona-motivations-row {
      display: none;
    }
    .persona-goals-row {
      display: none;
    }
    .persona-frustrations-row {
      display: none;
    }

    #view-user-persona-link {
      top: 325%;
      font-size: 1.0rem;
    }
    #persona-user-stories-text {
      position: relative;
      top: 325%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 1.225rem;
    }

  #persona-user-stories-image-one {
    position: relative;
    top: 325%;
    margin-bottom:  5%;
  }

  #persona-user-stories-image-two {
    position: relative;
    top: 325%;
    margin-top:  5%;
  }

  /*
  user flows
  */
  #user-flows-page-section {
      height: 900px;
  }
  #user-flows-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
    color: #E2C8B1;
  }

  .user-flow-text {
    margin-left: 10%;
    margin-right: 10%;
  }

  #user-flow-image {
    top: 40%;
  }
  #user-flow-link {
    top: 50%;
    font-size: 1.225rem;
    left:30%;
  }

  /*
  wireframes
  */
#wireframes-page-section {
    height: 2100px;
}

  #wireframes-column-two-header {
      margin-left: 10%;
      margin-right: 10%;
  }
  #wireframes-text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }


  #wireframes-image-one{
      position: relative;
      top: 5%;
  }
  #wireframes-image-two{
    display: none;
  }

  #mobile-wireframes {
    display: inline;
    top: -250px;
    position: relative;
  }
  .wireframes-mobile-image{
    height: 400px;
    width: 75%;
    left: 10%;
  }
  .wireframes-mobile-text {
    position: relative;
    left: 20%;
  }

  /*
    mockups
  */

  #mockups-page-section {
      height: 1400px;
  }
  #mockups-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
  }

  #mockups-text {
    margin-left: 10%;
    margin-right: 10%;
  }

  #mockups-image-1 {
    width: 50%;
    height: 100%;
    position: relative;
    left: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    top: 20%;
  }

  #mockups-image-2 {
    width: 50%;
    height: 100%;
    position: relative;
    left: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    top: 25%;
  }

  #mockups-image-3 {
    width: 50%;
    height: 100%;
    position: relative;
    left: 15%;
    margin-top: 15%;
    margin-bottom: 15%;
    top: 30%;
  }

  #mockups-link {
    position: relative;
    top: 25%;
    font-size: 1.225rem;
    left:30%;
  }


  /*
    branding
  */
  #branding-page-section {
    height : 2200px;
  }

  #branding-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .branding-text-content {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }

  #branding-image-one {
      position: relative;
      top: 120%;
  }
  #branding-image-two {
      position: relative;
      top: 300%;
      width: 80%;
      left: -20%;
  }
  #branding-image-three {
      position: relative;
      top: 300%;
      width: 80%;
      left: -20%;
  }
  #branding-image-four {
      position: relative;
      top: 300%;
      width: 80%;
      left: 10%;
  }

  #branding-text-one {
    position: relative;
    top: 250%;
  }

  #branding-text-two {
    position: relative;
    top: 500%;
  }

  /*
  prototyping
  */

  #prototyping-page-section {
    height: 1500px;
  }

  #prototyping-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
  }

  #prototyping-text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }

  .prototyping-other-row {
    position: relative;
    top: 35%;
  }

  #prototyping-bold-text-one {
    position: absolute;
    font-size: 1.0rem;
    left: 5%;
  }

  #prototyping-round-button {
    width: 30%;
    position: absolute;
    top: 50%;
  }
  #prototyping-square-button {
    width: 30%;
    position: absolute;
    top: -50%;
    left: 30%;
  }

  .prototyping-smaller-row {
    position: relative;
    top: 20%;
  }

  #prototyping-bold-text-two {
    position: absolute;
    left: 5%;
    font-size: 1.0rem;
  }

  #prototyping-light-logo {
    width: 35%;
    position: absolute;
    left: -20%;
    top: 300%;
  }
  #prototyping-dark-logo {
    width: 35%;
    position: absolute;
    top: 200%;
    left: 20%;
  }

  #prototype-last-row {
    position: relative;
    top: 15%;
  }

  #prototyping-bold-text-three {
    position: absolute;
    left: 5%;
    font-size: 1.0rem;
  }

  #prototype-multi-logo {
    width: 35%;
    position: absolute;
    left: 0%;
    height: 200px;
    top:35%;
  }

  #prototype-monochrome-logo {
    width: 35%;
    position: absolute;
    left: 35%;
    height: 200px;
    top:-65%;
  }
  /*
  conclusion
  */
  #conclusion-page-section {
    height: 3300px;
  }

  #conclusion-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .conclusion-text-content {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }

  #conclusion-image-one {
    position: relative;
    top: -40%;
    left:10%
  }
  #conclusion-image-two {
    position: relative;
    top: 100%;
  }
  #conclusion-image-three {
    position: relative;
    top: 220%;
    padding:10%;
  }

  .conclusion-button {
    position: relative;
    top: 30%;
  }

/* end of media query block*/
}
