
/****************
 *
 * basic .css
 *
 * ***************/

/* general*/

.container {
  display : grid;
  width: 100%;
  margin: 1px;
}
.page-section {
  width: 100%;
  position: relative;
  background-color: inherit;
  /* this is the default height, can overwrite by using an ID*/
  height: 1200px;
}

/*columns*/
.column {
  float: left;
  width: 70%;
  height: 100%;
  position: relative;
}
.column-half {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.column-quarter {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
}
.column-third {
  float: left;
  width: 33%;
  height: 100%;
  position: relative;
}
.column-small {
  float: left;
  width: 10%;
  height: 100%;
  position: relative;
}
.column-big {
  float: left;
  width: 80%;
  height: 100%;
  position: relative;
}

/*rows*/
.row {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-half {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-quarter {
  width: 100%;
  height: 25%;
  position: relative;
}
.row-third {
  width: 100%;
  padding-top: 3%;
  position: relative;
}
.row-big {
  width: 100%;
  height: 90%;
  position: relative;
}
.row-small {
  width: 100%;
  height: 10%;
  position: relative;
}
.row-smallest {
  width: 100%;
  height: 5%;
  position: relative;
}

/*images*/
.full-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.full-width-image {
  position: relative;
  width: 100%;
}
.half-width-image {
  position: relative;
  width: 50%;
}
.column-top-image {
  position: absolute;
  top: 5%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  transform: rotateY(180deg);
}
.column-mid-image {
  position: absolute;
  top: 50%;
  width: 90%;
  margin-left:-20%;
}
.column-bottom-image {
  position: absolute;
  top: 80%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  transform: rotateY(180deg);
}

.column-image-wider {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

/****************
 *
 * index .css
 *
 * ***************/

/*
  maroon -- 641B36
*/

@font-face {
  font-family: "Abel", sans-serif;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
#top-banner {
  width: 100%;
  height: 40px;
}
li {
  font-size: 1.875rem;
  color: #162753;
  font-family: "Abel", sans-serif;
  list-style-type: none;
}
h1 {
    color: #FEACC6;
    font-family: "Abel", sans-serif;
    font-size: 4.25rem;
    font-weight: lighter;
    position:  relative;
}
h2 {
  color: #FFFFFF;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  font-size: 2.625rem;
  position: relative;
  bottom: 10%;
}
h3 {
  color: #162753;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}
h4 {
  color: #641B36;
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  font-weight: lighter;
}
h5 {
  color: #E2C8B1;
  font-size: 2.25rem;
  font-family: "Abel", sans-serif;
}

/*
  nav
*/
.nav {
  height: 150px;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
  margin-top:5%;
  left:-5%;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
.nav-bar-home {
  color: #162753;
}
.nav-bar-about {
  color: #162753;
}
.nav-bar-contact {
  color: #641B36;
}
.nav-bar-work{
  color: #641B36
}
.nav-bar-home:hover {
  color: #E2C8B1;
}
.nav-bar-about:hover {
  color: #E2C8B1;
}
.nav-bar-contact:hover {
  color: #E2C8B1;
}
.nav-bar-work:hover {
  color: #E2C8B1;
}

#desktop-nav-links {
}

#hamburgerMenuToggle {
  display: none;
}
.topNav {
  display: none;
}

/*
  Hero stuff
*/
#hero-page-section-home-page {
  background-color: #162753;
  height: 800px;
}
.hero-column {
  align-content: center;
}
#hero-column-content {
  position: relative;
      top: 15%;
      margin-left: 15%;
      text-align: left;
}
#hero-column-header {
    margin-bottom: 23%;
}
#hero-flower-image {
  position: relative;
  top: 15%;
  margin-left: 20%;
}

#hero-neb-text {
  top: 10%;
  position: relative;
  text-align: center;
}
#hero-neb-smaller-text {
  top: 10%;
  position: relative;
  text-align: center;
}
.hero-button-home-page {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;

    background-color: #FEACC6;
    color: #162753;
    font-size: 1rem;
    font-family: "Abel", sans-serif;
    border-radius: 6px;
    width: 30%;
    position:relative;
    text-decoration: none;
    margin-top :10%;
}
/*
  Nebula row
*/
#nebula-page-section {
    height: 680px;
}
#nebula-column-three {
  width: 30%;
}
#nebula-neb-image {
  width: 573px;
      position: relative;
      padding-top: 8%;
      padding-left: 15%;
}
#nebula-content {
  position: relative;
  top: 30%;
  text-align: left;
}
#nebula-column-image-two {
  position: relative;
  top: 65%;
}
.nebula-button {
  background-color: #162753;
  color: #E2C8B1;
  font-family: "Abel", sans-serif;
  text-decoration: none;

  display: block;
  width: 115px;
  height: 25px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  position: relative;
top: 38px;
}

/*
  bio section
*/
#bio-page-section {
  background-color:  #641B36;
  height: 800px;
}
.bio-column {
  float: left;
  width: 40%;
}
#flower-banner-1 {
  display: none;
}
#flower-banner-2 {
  display: none;
}
#footer-image-1 {
  display: none;
}

#bio-content-1 {
  padding-top: 5%;
  padding-left: 15%;
}
#bio-content-2 {
  padding-top:20%;
  padding-left: 10%;
}
#bio-text {
  color: #FFFFFF;
  font-size: 2.25rem;
  font-family: "Abel", sans-serif;
}
#bio-home-image {
  width: 418px;
  height: 433px;
}
#bio-link {
  color: #E2C8B1;
  font-size: 1.625rem;
  font-family: "Abel", sans-serif;
  padding-left: 17%;
  top: 50px;
position: relative;
}


/*
  skills
*/
#skills-page-section {
  height: 1050px;
  text-align: center;
  margin-top: 5%;
}
#skills-main-header {
  color: #162753;
  font-size: 3rem;
  font-family: "Abel", sans-serif;
  text-align:  center;
}
#skills-cell-1 {
  border-bottom: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  text-align: center;
  height: 450px;
}
#skills-cell-2 {
  border-top: 1px solid #dfdfdf;
  height: 450px;
}
#skills-cell-3 {
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  height: 450px;
}
#skills-cell-4 {
  border-left: 1px solid #dfdfdf;
  height: 450px;
}
.skills-blue-flower {
  margin-top:5%;
  width: 40px;
  height: 40px;
}
.skills-blue-diamond {
  margin-top: 5%;
  width: 85px;
  height: 60px;
}
.skills-heading {
  font-size: 2rem;
  color: #641B36;
  font-family: "Abel", sans-serif;
  margin-top: 10%;
  text-align: center;
  position: relative;
}
.skills-list {
  margin-top: 5%;
  margin-left: 5.5%;
}
.skill-list-item {
  padding-right: 50px;
  text-align: center;
}

/*
  footer
*/
.footer-page-section {
  background-color:  #162753;
  height: 414px;
  width: 100%;
}
#footer-column-2 {
  width: 80%;
  text-align: center;
}
#footer-text {
  color:#FFFFFF;
  font-size: 2.625rem;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  position: relative;
  top: 30%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: relative;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}
.footer-linkedin{
    margin-left:5%;
}
.footer-instagram{
    margin-left:5%;
}
.footer-email{
    margin-left:5%;
}
.footer-github{
    margin-left:5%;
    height: 50px;
    width: 50px;
}

#footer-bottom-image {
  top: 40%;
}


/****************
 *
 * case study .css
 *
 * ***************/
@font-face {
  font-family: "Abel", sans-serif;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;

  /* maybe figure out why it was overflowing in the first place */
  overflow-x: hidden;
}

li {
  font-size: 26px;
  color: #162753;
  font-family: "Abel", sans-serif;
  list-style-type: none;
  text-align: left;
}

p {
  color: #641B36;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  line-height: 1.5em;
}

#backToTopButton {
  position: fixed;
  right: 100px;
}

/* Nav stuff*/
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
  left:-5%
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}

/*
  hero stuff
*/
#hero-page-section {
  background-color: #162753;
  height: 1400px;
}
#hero-row {
  height: 60%;
}
#hero-row-small {
    height: 40%;
}
#hero-neb-image {
  position: relative;
  top: 20%;
  margin-left: 20%;
  width: 60%;
}
#hero-heading {
    position: relative;
    top: 30%;
    text-align: center;
}
.about-hero-gold-diamond {
  height: 20%;
  transform: rotateY(180deg);
}
.hero-button {
  background-color: #162753;
  color: #162753;
  font-family: "Abel", sans-serif;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  background-color: #FEACC6;
  position: relative;
  margin-left: 45%;
  top: 15%;
  text-decoration: none;
}


/* Summary stuff */
#summary-page-section {
  height:1000px;
  padding-top: 2.5%;
}
#summary-blue-diamond {
  transform: rotateY(180deg);
}

.summary-row-two {
  height: 60%;
}
/* Problem stuff*/

#problem-page-section {
  height: 300px;
  background-color: #641B36;
  padding-top: 5%;
}
#problem-column-two {
  width: 80%;
}
#problem-flower {
  height: 25%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
#problem-diamond {
  height: 25%;
  top: 70%;
  transform: rotateY(180deg);
}
#problem-header{
  color: #E2C8B1;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}
#problem-content {
  color: #F2F2F2;
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  font-weight: lighter;
}

/* Solution stuff */

#solution-page-section {
  height: 1400px;
  padding-top: 5%;
}
#solution-smaller-row {
  height: 30%;
}
#solution-bigger-row {
  height: 70%;
  top:-10%;
}

.solution-image {
  margin:1.5%;
  margin-left: 1%;
  width: 30%;
  position: relative;
}

/* Process stuff*/
#process-page-section {
  height: 700px;
  background-color: #162753;
  padding-top: 5%;
}
#process-diamond {
  transform: rotateY(180deg);
}
#process-header{
  color: #E2C8B1;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
}
.process-text-content {
  color: #F2F2F2;
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  font-weight: lighter;
}

/* User research stuff*/
#ur-page-section {
  height: 1100px;
  padding-top: 5%;
}

#person-left-column-image-1 {
  top: 10%;
}
#person-left-column-image-2 {
  top: 40%;
}
#person-left-column-image-3 {
  top: 70%;
}
#person-right-column-image-1 {
  top: 30%;
}
#person-right-column-image-2 {
  top: 60%;
}
#person-right-column-image-3 {
  top: 90%;
}

#ur-row-smaller {
  height: 25%;
}
.ur-row-bigger {
  height: 30%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#ur-row-small {
  height: 4%;
}
.ur-image {
  width: 45%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}
#ur-header{
  color: #162753;
  font-family: "Abel", sans-serif;
  font-size: 2rem;
  font-weight: lighter;
  position: relative;
  height: 20%;
}
#ur-content {
  color: #641B36;
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  font-weight: lighter;
  position: relative;
  height: 80%;
}

#ur-link{
  color: #641B36;
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  position: relative;
  top: 80%;
  margin-left: 45%;
}

/* competitive analysis section */
#ca-page-section {
  height: 1900px;
  background-color: #162753;
  padding-top: 5%;
}
.ca-first-row {
  height: 35%;
}
.ca-second-row {
  height: 55%;
}
#ca-first-inner-row {
  position: relative;
  top: 5%;
}
.ca-second-inner-row {
  height: 75%;
  position: relative;
  top: 10%;
}
.ca-bottom-column-image {
  top: 85%;
}
.ca-inner-column {
  width: 25%;
  padding-left: 3.5%;
  padding-right: 3.5%;
}
#ca-diamond {
  transform: rotateY(180deg);
}
#ca-header {
  color: #E2C8B1;
  font-size: 2rem;
}
.ca-content {
  color: #F2F2F2;
}
#ca-google-drive-image {
  margin-left: 10%;
}
#ca-dropbox-image {
  margin-left: 15%;
}
#ca-onedrive-image {
  width: 80%;
}
.ca-google-list {
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  color: #E2C8B1;
  margin: 15% 0 10px 0;
}
.ca-dropbox-list {
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  color: #E2C8B1;
  margin: 15% 0 10px 0;
}
.ca-onedrive-list {
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  color: #E2C8B1;
  margin: 15% 0 10px 0;
}
#ca-link{
  color: #E2C8B1;
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  position: relative;
  margin-left: 35%;
}
#strengths-row {
  position: relative;
  top: -15%;
}
#weaknesses-row {
  position: relative;
  top: -20%;
}
#ca-dropbox-weaknesses {
}
/* Persona stuff*/
#persona-page-section{
  height: 3200px;
  padding-top: 5%;
}
#persona-blue-diamond{
  transform: rotateY(180deg);
}
#persona-blue-diamond2{
  transform: rotateY(180deg);
}
#persona-header{
  font-size: 2rem;
  color:#162753;
}
#persona-content {
  font-size: 1.625rem;
  color: #641B36;
}
.persona-names-row {
  height: 3%;
  padding-top: 8%;
}
.persona-motivations-row {
  height: 15%;
}
.persona-inner-column {
  padding-left: 7%;
}

.persona-frustrations-row {
  position: relative;
  top: -121px;
}
.persona-user-stories-row {
  height: 15%;
}
#persona-user-stories-text {
  position: relative;
  top: -100px;
}
#persona-user-stories-image-one{
  position: relative;
  top: -94px;
}
#persona-user-stories-image-two{
  position: relative;
  top: -96px;
}

.neha-inner-column {
  width: 35%;
  margin-right: 2.5%;
}
.ty-inner-column {
  width: 35%;
  margin-left: 2.5%;
}
#neha-quote {
  width: 100%;
  color: #162753;
  position: relative;
  font-size: 1.5rem;
}
#ty-quote {
  width: 100%;
  position: relative;
  font-size: 1.5rem;
}
#neha-image{
  width: 100%;
  position: relative;
}
#ty-image {
  width: 100%;
  position: relative;
}
.neha-info {
  color:#162753;
  font-size: 1.5rem;
}
.ty-info {
  color:#162753;
  font-size: 1.5rem;
}
#view-user-persona-link {
  position: relative;
  margin-left: 40%;
  font-family: "Abel", sans-serif;
  color: #641B36;
  font-size: 1.625rem;
  top: -201px;
}

/*
  User flows stuff
*/
#user-flows-page-section {
  background-color: #162753;
  height: 1800px;
}
#user-flows-column-two-header {
  text-align: left;
  color: #E2C8B1;
}
#user-flow-image {
  height: 70%;
  width: 85%;
  padding-left: 10%;
  padding-right: 5%;
}
#user-flow-link {
  position: relative;
  color: #E2C8B1;
  font-family: "Abel", sans-serif;
  font-size: 1.625rem;
  top: 5%;
  margin-left: 45%;
}
.user-flow-text {
  color: #F2F2F2;
}
#user-flow-row-1 {
  height: 20%;
  padding-top: 10%;
}
#user-flow-row-2 {
  height: 70%;
}

.user-flow-column-image {
  transform: rotateY(180deg);
}

/*
  Wireframes
*/
#wireframes-page-section {
  height: 2400px;
}
#wireframes-column-two-header {
  text-align: left;
}
#wireframes-image-one {

  width: 85%;
  margin-left: 5%;
}
#wireframes-image-two {
  top:-10%;
  margin-left: 5%;
  width: 85%;
  display: visible;
}
#mobile-wireframes {
  display: none;
}

#wireframes-column-image-one {
  top: 0%;
  padding-left: 0%;
  padding-right: 0%;
  width: 100%;
}
#wireframes-column-image-three {
  top: 30%;
}
#wireframes-row-one {
  padding-top: 10%;
  height: 20%;
}
#wireframes-row-two {
  height: 35%;
}
#wireframes-row-three {
  height: 35%;
}
#wireframes-link {
    position: relative;
    margin-left: 45%;
    color: #641B36;
    font-family: "Abel", sans-serif;
    font-size: 1.625rem;
    top: 5%;
}


/*
  Mockups
*/
#mockups-page-section {
  background-color: #641B36;
  height: 1600px;
  padding-top: 5%;
}

#mockups-column-two-header {
  text-align: left;
  color: #E2C8B1;
}
.mockups-text{
  color: #F2F2F2;
}
#mockups-row-1 {
  height: 35%;
}
#mockups-row-2 {
  height: 65%;
  top:-10%;
}
#mockups-image-1 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-2 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-3 {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-link {
  position: relative;
  margin-left: 45%;
  top: -15%;  /* come back and figure out why this needs to be negative*/
  font-family: "Abel", sans-serif;
  color: #E2C8B1;
  font-size: 1.625rem;
}

/*
  Branding
*/
#branding-page-section {
  height: 3600px;
  padding-top: 5%;
}
#branding-page-section p {
  padding-top: 2%;
  padding-bottom: 2%;
}
#branding-column-two-header {
  text-align: left;
}
#branding-image-one {
  margin-top: 10%;
  padding-left: 25%;
  padding-right: 25%;
  top: 5%;
  margin-bottom: 10%;
}
#branding-text-one {
  position: relative;
  top: 40%;
}
#branding-image-two {
  padding-left: 25%;
  padding-right: 25%;
  top:-10%;
}
#branding-image-three {
  padding-left: 25%;
  padding-right: 25%;
  top:-10%;
}
.branding-row {
  height: 25%;
}
.branding-other-row {
  padding-top: 5%;
  height: 20%;
}

/*
  Prototyping
*/
#prototyping-page-section {
  background-color: #162753;
  height: 2800px;
  padding-top: 5%;
}

#prototyping-column-two-header {
  text-align: left;
  color: #E2C8B1;
}
.prototyping-text{
  color: #F2F2F2;
}
#prototyping-bold-text-one {
  color: #E2C8B1;
  position: relative;
  margin-left: 30%;
  top: -175px;
}
#prototyping-bold-text-two {
  color: #E2C8B1;
  position: relative;
  margin-left: 35%;
  top: 0px;
}
#prototyping-bold-text-three {
  color: #E2C8B1;
      position: relative;
      margin-left: 28%;
      top: 0px;
}
#prototyping-round-button {
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
  padding-top:5%;
  top: -170px;
}
#prototyping-square-button {
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
  padding-top:5%;
  top: -170px;
}
#prototyping-light-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototyping-dark-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototype-multi-logo {
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
}
#prototype-monochrome-logo {
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
}
#prototype-last-row{
    top: -10%;
}
#prototyping-logos-row {
  top: 10%;
}
.prototyping-row-one {
  height: 30%;
}
.prototyping-smaller-row {
  height: 15%;
  top:-5%;
}
.prototyping-other-row {
  height: 30%;
      top: 1%;
}

/*
  Conclusion
*/
#conclusion-page-section {
  height: 2200px;
  padding-top: 5%;
}
#conclusion-page-section p{
  padding-top: 2%;
  padding-bottom: 2%;
}

.conclusion-row-one {
  height: 60%;
}
.conclusion-row-two {
  height: 30%;
  top:-1%;
}
#conclusion-column-two-header {
  text-align: left;
}
#conclusion-image-one {
  width: 80%;
  padding-right: 20%;
}
#conclusion-image-two {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#conclusion-image-three {
  width: 80%;
  padding-left: 20%;
}

.conclusion-button {
  color: #162753;
  font-family: "Abel", sans-serif;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  background-color: #FEACC6;
  position: relative;
  margin-left: 43%;
  text-decoration: none;
}

/*
  footer
*/

.footer-column-2 {
  text-align: center;
}
#footer-text {
  color:#FFFFFF;
  font-size: 2.625rem;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  position: relative;
  top: 30%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: relative;
}
#footer-github {
  height: 50px;
  width: 50px;
}
#footer-right-image {
  top: 50%;
}

.back-to-top {
    position: fixed;
    right: 1%;
    bottom: -7.5%;
    height: 15px;
    width: 30px;
    padding: 3px 5px;
    font-size: .625rem;
    font-weight: bolder;
    font-family: "Abel", sans-serif;
    color: transparent;
    opacity: 0.5;
    z-index: 3;
    visibility: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

.back-to-top:hover, .back-to-top:focus {
        opacity: 1;
        text-decoration: none;
}

.back-to-top:focus {
        outline: thin dotted;
}

.back-to-top::before,
.back-to-top::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
}

.back-to-top::before {
	top: -20px;
	z-index: 4;
	border-bottom: 20px solid #858585;

}
.back-to-top::after {
	bottom: 0;
	z-index: 5;
	border-bottom: 20px solid #505050;
}
.back-to-top:hover,
.back-to-top:focus {
	height: 40px;
	color: #212223;
}
.show-back-to-top {
	display: block;
	bottom: 1.25%;
	visibility: visible;
}



/****************
 *
 * bio .css
 *
 * ***************/
@font-face {
  font-family: "Abel", sans-serif;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
.hero {
  background-color: #162753;
  height: 500px;
}
#about-hero-image {
  display: none;
}

.about {
  height: 2200px;
  background-color: inherit;
}
.about-column {
  float: left;
  width: 40%;
  padding: 5%;
}
.image-column {
  float: right;
  width: 40%;
  padding: 5%;
  padding-top: 15%;
}

#image-1 {
  width: 450px;
  float: left;
}
#bio-red-flower {
  width: 120px;
  padding-top: 25%;
  padding-left: 5%;
}

#image-2 {
  width: 450px;
  float: right;
  padding-top: 10%;
}
#image-3 {
  width: 450px;
  float: left;
  padding-top: 10%;
}
#bio-blue-flower {
  width: 120px;
  padding-top: 40%;
  padding-right: 5%;
}

#bio-red-flower-2 {
  width: 120px;
  padding-top: 40%;
  padding-left: 5%;
}
.footer {
  background-color:  #162753;
  height: 410px;
  position: relative;
}
.footer-center-column {
  text-align: center;
}
.footer-center-row {
  text-align: center;
}
.footer-diamond-image {
  height: 20%;
  top: 70%;
}
.footer-flower-image {
  height: 20%;
}
#footer-text {
  color:#FFFFFF;
  font-size: 2.625rem;
  font-family: "Abel", sans-serif;
  font-weight: lighter;
  position: relative;
  top: 30%;
 }
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  margin-left: 0px;
  position: absolute;
}
#footer-github {
  height: 50px;
  width: 50px;
}
.footer-icons {
  display:inline;
  margin-left: 5%;
  position: relative;
  top: -30%;
}

/*
 contact
*/
#contact-page-image {
  width: 80%;
  padding: 10%
}
#overlay {
position: absolute;
     top: 25%;
     left: 0;
     height: 216%;
     width: 100%;
     z-index: 10;
     background-color: rgba(22, 39, 83, 0.9);
   }
#contact-page-header {
    color: #E2C8B1;
    font-family: "Abel", sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    text-align: left;
    position: relative;
    top: 5%;
    margin-left: 10%;
  }

  #contact-form {
    position: relative;
    top: 15%;
    margin-left: 5%;
  }
  #fs-frm-inputs  {
    border: rgba(22, 39, 83, 0.9);
    /* background-color: white; */
  }

    #fs-frm {
      position: relative;
      margin-left: 10%;
      margin-top: 10%;
    }
  #fs-frm input, textarea {
    display: block;
  }

  #contact-form input, textarea{
    display: block;
  }
  #full-name {
    font-size: 1.225rem;
    font-family: "Abel", sans-serif;
    color: #641B36;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 2%;
    width: 35%;
  }
  #email-address {
    font-size: 1.225rem;
    font-family: "Abel", sans-serif;
    color: #641B36;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 2%;
    width: 35%;
  }

  #contact-message {
    font-size: 1.225rem;
    font-family: "Abel", sans-serif;
    color: #641B36;
    background-color: rgba(255, 255, 255, 0.75);
    margin-bottom: 2%;
    height: 400px;
    width: 50%;
    resize: none;
    }
    #form-submit-button {
      display: block;
      padding: 10px;
      text-align: center;
      font-weight: bold;
      line-height: 25px;

      background-color: #FEACC6;
      color: #162753;
      font-size: 1rem;
      font-family: "Abel", sans-serif;
      border-radius: 6px;
      width: 10%;
      height: 30%;
      position:relative;
      text-decoration: none;
    }

    #contact-submit-button {
        display: block;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        line-height: 25px;

        background-color: #FEACC6;
        color: #162753;
        font-size: 1rem;
        font-family: "Abel", sans-serif;
        border-radius: 6px;
        width: 10%;
        height: 30%;
        position:relative;
        text-decoration: none;
    }
    .mobile-banner {
      display: none;
    }

/*
  media queries -- mobile phone
*/
@media screen and (min-width: 375px) and (max-width: 480px){

    .container {
        width: 100%;
      }

      .column-big {
        float: left;
        width: 100%;
        height: 80%;
        position: relative;
      }

      .column-small {
        float: left;
        width: 100%;
        height: 10%;
        position: relative;
      }

      .column-third {
        float: left;
        width: 100%;
        height: 33%;
        position: relative;
      }

      .column-quarter {
        float: left;
        width: 100%;
        height: 25%;
        position: relative;
      }

      .column-half {
        float: left;
        width: 100%;
        height: 50%;
        position: relative;
      }

      #hamburgerMenuToggle {
    display: block;
    position: relative;
    top: -46px;
    left: 310px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;

}

      #hamburgerMenuToggle a
      {
        text-decoration: none;
        color: #232323;

        transition: color 0.3s ease;
      }

      #hamburgerMenuToggle a:hover
      {
        color: tomato;
      }


      #hamburgerMenuToggle input
      {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
      }

      /*
       * Just a quick hamburger
       */
      #hamburgerMenuToggle span
      {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;

        background: #cdcdcd;
        border-radius: 3px;

        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
      }

      #hamburgerMenuToggle span:first-child
      {
        transform-origin: 0% 0%;
      }

      #hamburgerMenuToggle span:nth-last-child(2)
      {
        transform-origin: 0% 100%;
      }

      /*
       * Transform all the slices of hamburger
       * into a crossmark.
       */
      #hamburgerMenuToggle input:checked ~ span
      {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
      }

      /*
       * But let's hide the middle one.
       */
      #hamburgerMenuToggle input:checked ~ span:nth-last-child(3)
      {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      /*
       * Ohyeah and the last one should go the other direction
       */
      #hamburgerMenuToggle input:checked ~ span:nth-last-child(2)
      {
        transform: rotate(-45deg) translate(0, -1px);
      }

      /*
       * Make this absolute positioned
       * at the top right of the screen
       */
       #hamburgerMenu {
     position: absolute;
     background-color: #641B36;
     width: 300px;
     margin: -100px 0 0 -336px;
     padding: 50px;
     padding-top: 125px;
     background: #ededed;
     list-style-type: none;
     -webkit-font-smoothing: antialiased;
     transform-origin: 0% 0%;
     transform: translate(-100%, 0);
     transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
     background-color: #641B36;
   }

      #hamburgerMenu li
      {
        padding: 50px 100px;
        font-size: 22px;
        color: #F0E2D5;
      }

      /*
       * And let's slide it in from the left
       */
      #hamburgerMenuToggle input:checked ~ ul
      {
        transform: none;
      }

      #top-banner {
        display: none;
      }
      .mobile-banner {
        display: block;
      }
      #bottom-banner {
        display: none;
      }
    p {
      font-size: 1rem;
      padding-top: 1%;
      padding-bottom: 1%;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.375rem;
    }
    #hero-page-section-home-page {
      background-color: #162753;
      height: 800px;
      padding-top: 10%;
    }

      #hero-column-one {
        top: 40%;
      }
      #hero-column-two {
        top: -50%;
      }
      #hero-column-content {
        position: relative;
        width: 80%;
        top: 10%;
        margin-left: 10%;
      }
      #hero-flower-image {
       width: 80%;
       position: relative;
       top: 30%;
       margin-left: 10%;
      }
      #hero-neb-image {
        width: 60%;
      }
      #hero-neb-text {
        top: -7%;
        margin-right: 5%;
      }
      .hero-button {
        margin-left: 30%;
        position: relative;
        top: 30%;
      }
      .nav-logo {
        height: 50px;
        width: 50px;
      }
      .hero-button-home-page {
          display: block;
          padding: 10px;
          text-align: center;
          font-weight: bold;
          line-height: 25px;

          background-color: #FEACC6;
          color: #162753;
          font-size: 1rem;
          font-family: "Abel", sans-serif;
          border-radius: 6px;
          width: 50%;
          height: 30%;
          position:relative;
          text-decoration: none;
          margin-left: 20%;
      }
      #desktop-nav-links {
        display:none;
      }

      .nav-links {
        display: none;
      }
      #nebula-neb-image {
        margin-left: 8%;
      }

        #nebula-column-image-one {
          visibility: hidden;
        }
        #nebula-column-image-two {
          visibility: hidden;
        }
        #nebula-column-two {
          width: 100%;
          height: 50%;
        }
        #nebula-column-three {
          width: 100%;
          height: 30%;
        }
        #nebula-neb-image {
         width : 200px;
         /*width: 100%;*/
         position: relative;
         padding-top: 7%;
         padding-left: 15%;
       }
      #footer-text {
        font-size: 2rem;
        margin-left:1%;
      }
      .column-small {
        display: none;
      }
      #nebula-column-three {
        top:-10%;
      }
      #nebula-content {
        padding-left: 10%;
        text-align: center;
      }
      .nebula-button {
        width: 40%;
        margin-left: 25%;
        margin-top: 5%;
      }
      #bio-home-image {
        width: 300px;
        height: 250px;
        margin-top:-20%;
      }
      #bio-link {
        color: #E2C8B1;
        font-size: 1.625rem;
        font-family: "Abel", sans-serif;
        padding-left: 17%;
        position: relative;
        top: 375px;
      }

      h5 {
        font-size: 1.5rem;
      }

      #bio-content2 {
        padding-left: 10%;
      }
      .skills-list {
          position: relative;
          margin-left: 30%;
      }

      #skills-cell-1 {
        padding-bottom:10%;
        border-bottom: 0px solid #dfdfdf;
        border-right: 0px solid #dfdfdf;
        text-align: center;
      }
      #skills-cell-2 {
        border-top: 0px solid #dfdfdf;
      }
      #skills-cell-3 {
        border-left: 0px solid #dfdfdf;
        border-bottom: 0px solid #dfdfdf;
      }
      #skills-cell-4 {
        padding-top: 25%;
        border-left: 0px solid #dfdfdf;
      }

      .skills-list {
        position: relative;
        margin-left: 10%;
      }
      .skill-list-item {
        padding-right: 50px;
        text-align: center;
        font-size: 1.2rem;
      }

      #skills-heading-one {
        position: relative;
        top: 10px;
      }
      #skills-list-one {
        position: relative;
        top: 10px;
      }
      #skills-heading-two {
        position: relative;
            top: -312px;
      }
      #skills-list-two {
        position: relative;
          top: -308px;
      }
      #skills-heading-three {
        position: relative;
        top: 10px;
      }
      #skills-list-three {
        position: relative;
        top: 10px;
      }
      #skills-heading-four {
        position: relative;
        top: -319px;
      }
      #skills-list-four {
        position: relative;
        top: -319px;
      }
      #skills-blue-diamond1 {
        position: relative;
            top: -303px;
      }
      #skills-blue-diamond2 {
        position: relative;
            top: 203px;
      }
      #skills-blue-flower2 {
        position: relative;
            top: -530px;
      }



      .column-half {
        height: 40%;
      }

      .bio-column {
        float: left;
        height: 40%;
        width: 100%;
      }
      #bio-column-image-one {
        visibility: hidden;
      }
      #bio-column-image-two {
        visibility: hidden;
      }
      #bio-text {
        color: #FFFFFF;
        font-size: 1.225rem;
        font-family: "Abel", sans-serif;
        padding-right:10%;
      }


      /*
      hero
      */
      #hero-page-section {
        background-color: #162753;
        height: 700px;
      }

      /*
        summary
      */
      #summary-page-section {
        height: 900px;
        padding-top: 10%;
      }
      #summary-heading {
        margin-left: 10%;
        margin-right: 10%;
      }
      .summary-text-content {
        margin-left: 10%;
        margin-right: 10%;
      }
      #summary-user-research-heading {
        position: relative;
        top: 150px;
      }
      #summary-tools-used-heading {
        position :relative;
        top: 450px;
      }
      #summary-user-research {
        position: relative;
        top: 130px;
      }
      #summary-tools-used {
        position: relative;
        top: 350px;
      }

      /*
        problem
      */
      #problem-page-section {
        height: 200px;
        padding-top: 10%;
      }

      #problem-header {
        margin-left: 10%;
        margin-right: 10%;
      }

      #problem-content {
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.0rem;
      }

      /*
        solution
      */
      #solution-page-section {
        height: 600px;
        padding-top: 10%;
      }

      #solution-header{
        margin-left: 10%;
        margin-right: 10%;
      }
      #solution-content {
        margin-left: 10%;
        margin-right: 10%;
      }
      #solution-smaller-row {
        height: 60%;
      }
      #solution-bigger-row {
        height: 40%;
        padding-top: 10%;
      }
      .solution-image {
        width: 27%;
        margin-left: 2%;
        margin-right: 2%;
        height: 110%;
      }

    /*
      process
    */
    #process-page-section{
      height: 700px;
      padding-top: 10%;
    }
    #process-header {
      margin-left: 10%;
      margin-right: 10%;
    }
    .process-text-content {
      font-size: 1.0rem;
      margin-left: 10%;
      margin-right: 10%;
    }

    /*
      ur
    */
    #ur-page-section {
      height : 1100px;
      padding-top:  10%;
    }
    #ur-header {
      margin-left: 10%;
      margin-right: 10%;
      padding-bottom: 10%;
    }
    #ur-content {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 1.0rem;
      top:-10%
    }

    #ur-image-one {
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      margin-bottom: 5%;
      top: 40px;
    }
    #ur-image-two {
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      margin-bottom: 5%;
      top: 24px;
    }
    #ur-image-three {
      margin-top: 5%;
      margin-left: 5%;
      margin-right: 5%;
      width: 90%;
      top: 124px;
    }
    #ur-image-four {
      margin-top : 5%;
      margin-left: 5%;
      margin-right: 5%;
      width : 90%;
      top: 104px;
    }

    .ur-row-bigger {
      position: relative;
      top: 10%;
    }
    #ur-row-small {
      position: relative;
      top: 10%;
    }

    #ur-link{
      color: #641B36;
      font-family: "Abel", sans-serif;
      font-size: 1.225rem;
      position: absolute;
      top: 650%;
      margin-left: 144px;
    }

    /*
      ca
    */
    #ca-page-section {
      background-color: #641B36;
      height: 2000px;
      padding-top: 10%;
    }

    #ca-first-inner-row {
      position: relative;
      top: 0%;
    }
    .ca-second-inner-row {
      position: relative;
      top: 0%;
    }
    #ca-header {
      margin-left: 10%;
      margin-right: 10%;
      padding-bottom: 5%;
    }
    .ca-content {
      margin-left: 10%;
      margin-right: 10%;
      font-size: 1.0rem;
    }
    .ca-google-list {
      font-size: 1.2rem;
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 30%;
    }
    .ca-dropbox-list {
      font-size: 1.2rem;
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 30%;
    }
    .ca-onedrive-list {
      font-size: 1.2rem;
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 30%;
    }

    #ca-google-drive-image {
      width: 35%;
      margin-left: 26%;
      top: 130%;
    }

    #ca-google-drive-strengths {
      font-size: 1.0rem;
          position: relative;
          top: 78%;
          margin-left: 20%;
    }
    #ca-google-drive-weaknesses {
      font-size: 1.0rem;
          position: relative;
          top: -43%;
          left: 18%;
    }

    #ca-dropbox-image{
      position: relative;
      top: 600%;
      margin-left: 26%;
      width: 35%;
    }
    #ca-dropbox-strengths {
      font-size: 1.0rem;
          position: relative;
          top: 375%;
          margin-left: 19%;
    }
    #ca-dropbox-weaknesses {
      font-size: 1.0rem;
          position: relative;
          top: 220%;
          margin-left: 19%;
    }

    #ca-onedrive-image{
      position: relative;
          top: 700px;
          margin-left: 20%;
          width: 50%;
    }
    #ca-onedrive-strengths {
      font-size: 1.0rem;
      position: relative;
      top: 600px;
      margin-left: 20%;
    }
    #ca-onedrive-weaknesses {
      font-size: 1.0rem;
          position: relative;
          top: 499px;
          margin-left: 20%;
    }

    #ca-link {
      font-size: 1.0rem;
      position: absolute;
      top: 300%;
      margin-left: 25%;
    }

    /*
      persona
    */

    #persona-page-section {
      height: 1700px;
    }

    #persona-header {
      margin-left: 10%;
      margin-right: 10%;
    }

    #persona-content {
      font-size: 1.0rem;
      margin-left: 10%;
      margin-right: 10%;
    }

    #neha-image {
      position: relative;
      top: 860%;
      width: 50%;
      margin-left: 25%;
    }

    #neha-bio {
      position: relative;
      top: 1400%;
      margin-left: 10%;
      color: #641B36;
      font-size: 1.5rem;
    }

    #neha-quote {
      position: relative;
      top: 2100%;
      /* width: 250%; */
      margin-left: 10%;
      margin-right: 10%;
      color: #641B36;
      font-size: 1.225rem;
    }
    #ty-image {
      position: relative;
      top: 2450%;
      width: 50%;
      margin-left: 25%;
    }
    #ty-bio {
      position: relative;
      top: 3700%;
      margin-left: 10%;
      color: #641B36;
      font-size: 1.5rem;
    }
    #ty-quote {
      position: relative;
      top: 3600%;
      color: #641B36;
      font-size: 1.225rem;
      margin-left: 10%;
      margin-right: 10%;
    }
    .persona-motivations-row {
      display: none;
    }
    .persona-goals-row {
      display: none;
    }
    .persona-frustrations-row {
      display: none;
    }

    #view-user-persona-link {
      top: 614px;
          font-size: 1.0rem;
          margin-left: 33%;
    }
    #persona-user-stories-text {
      position: relative;
      top: 325%;
      margin-left: 5%;
      margin-right: 5%;
      font-size: 1.225rem;
    }

  #persona-user-stories-image-one {
    position: absolute;
    top: 450%;
    margin-bottom:  5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  #persona-user-stories-image-two {
    position: absolute;
    top: 550%;
    margin-top:  5%;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }

  /*
  user flows
  */
  #user-flows-page-section {
      height: 900px;
  }
  #user-flows-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
    color: #E2C8B1;
  }

  .user-flow-text {
    margin-left: 10%;
    margin-right: 10%;
  }

  #user-flow-image {
    top: 40%;
  }
  #user-flow-link {
    top: 50%;
    font-size: 1.225rem;
        /* left: 30%; */
        margin-left: 32%;
  }

  /*
  wireframes
  */
#wireframes-page-section {
    height: 2500px;
}

  #wireframes-column-two-header {
      margin-left: 10%;
      margin-right: 10%;
  }
  #wireframes-text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }


  #wireframes-image-one{
      position: relative;
      top: -13%;
  }
  #wireframes-image-two{
    display: none;

  }

  #mobile-wireframes {
    display: inline;
    position: relative;
    top: -500px;
  }
  .wireframes-mobile-image{
    width: 75%;
    margin-left: 10%;
  }
  .wireframes-mobile-text {
    position: relative;
    margin-left: 20%;
  }

  /*
    mockups
  */

  #mockups-page-section {
      height: 1800px;
  }
  #mockups-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
    color:#E2C8B1;
  }

  .mockups-text {
    margin-left: 10%;
    margin-right: 10%;
  }

  #mockups-image-1 {
    width: 50%;
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    top: -10%;
  }

  #mockups-image-2 {
    width: 50%;
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 15%;
    top: 35%;
  }

  #mockups-image-3 {
    width: 50%;
    position: relative;
    margin-left: 20%;
    margin-top: 20%;
    margin-bottom: 15%;
    top: 65%;
  }

  #mockups-link {
    position: relative;
    top: 40%;
    font-size: 1.225rem;
    margin-left: 34%;
  }


  /*
    branding
  */
  #branding-page-section {
    height : 2300px;
  }

  #branding-page-section p{
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #branding-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .branding-text-content {
    margin-left: 10%;
    margin-right: 10%;
  }

  #branding-image-one {
      position: relative;
      top: 110%;
  }
  #branding-image-two {
      position: relative;
      top: 300px;
      width: 80%;
      margin-left: -20%;
  }
  #branding-image-three {
    position: relative;
    top: 400px;
    width: 80%;
    margin-left: -20%;
  }
  #branding-image-four {
    position: relative;
    top: 587px;
    width: 80%;
    margin-left: 10%;
  }

  #branding-text-one {
    position: relative;
    top: 311px;
  }

  #branding-text-two {
    position: relative;
    top: 500%;
  }

  /*
  prototyping
  */

  #prototyping-page-section {
    height: 1500px;
  }

  #prototyping-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
    color:#E2C8B1;
  }

  .prototyping-text {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }

  .prototyping-other-row {
    position: relative;
    top: 35%;
  }

  #prototyping-bold-text-one {
    position: absolute;
        font-size: 1.0rem;
        margin-left: 5%;
        top: -31%;
  }

  #prototyping-round-button {
    width: 30%;
    position: absolute;
    top: -20%;
  }
  #prototyping-square-button {
    width: 30%;
        position: absolute;
        top: -120%;
        margin-left: 30%;
  }

  .prototyping-smaller-row {
    position: relative;
        top: 15%;
  }

  #prototyping-bold-text-two {
    position: absolute;
        margin-left: 5%;
        font-size: 1.0rem;
        top: -29px;
        margin-left: 17%;
  }

  #prototyping-light-logo {
    width: 35%;
    position: absolute;
    margin-left: -20%;
    top: -224%;
  }
  #prototyping-dark-logo {
    width: 35%;
    position: absolute;
    top: -340%;
    margin-left: 20%;
  }

  #prototype-last-row {
    position: relative;
    top: 15%;
  }

  #prototyping-bold-text-three {
    position: absolute;
    margin-left: 5%;
    font-size: 1.0rem;
  }

  #prototype-multi-logo {
    width: 35%;
    position: relative;
    margin-left: 0%;
    height: 200px;
    top:35%;
  }

  #prototype-monochrome-logo {
    width: 35%;
    position: relative;
    margin-left: 35%;
    height: 200px;
    top:-65%;
  }
  /*
  conclusion
  */
  #conclusion-page-section {
    height: 3300px;
  }

  #conclusion-column-two-header {
    margin-left: 10%;
    margin-right: 10%;
  }

  .conclusion-text-content {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1.0rem;
  }

  #conclusion-image-one {
    position: relative;
    top: -153%;
    left:10%
  }
  #conclusion-image-two {
    position: relative;
    top: 0%;
  }
  #conclusion-image-three {
    position: relative;
    top: 150%;
    padding:10%;
  }

  .conclusion-button {
    position: relative;
        top: 30%;
        margin-left: 31%;
  }
  .back-to-top {
      position: fixed;
      margin-right: 17%;
      bottom: -7.5%;
      height: 15px;
      width: 30px;
      padding: 3px 5px;
      font-size: .625rem;
      font-weight: bolder;
      font-family: "Abel", sans-serif;
      color: transparent;
      opacity: 0.5;
      z-index: 3;
      visibility: hidden;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.25s ease-in-out;
  }

  .back-to-top:hover, .back-to-top:focus {
          opacity: 1;
          text-decoration: none;
  }

  .back-to-top:focus {
          outline: thin dotted;
  }

  .back-to-top::before,
  .back-to-top::after {
  	content: '';
  	position: absolute;
  	margin-left: 0;
  	width: 0;
  	height: 0;
  	border: 20px solid transparent;
  	border-top: 0;
  }

  .back-to-top::before {
  	top: -20px;
  	z-index: 4;
  	border-bottom: 20px solid #858585;

  }
  .back-to-top::after {
  	bottom: 0;
  	z-index: 5;
  	border-bottom: 20px solid #505050;
  }
  .back-to-top:hover,
  .back-to-top:focus {
  	height: 40px;
  	color: #212223;
  }
  .show-back-to-top {
  	display: block;
  	bottom: 1.25%;
  	visibility: visible;
  }


  /*
  about.html
  */

  .hero {
    height: 800px;
  }

  #hero-heading {
    position: relative;
    top: 19%;
    margin: 10%;
    font-size: 1.5rem;
  }

  #hero-gold-flower {
    position: absolute;
    top: 0%;
  }

  #about-hero-image {
    display: inline;
    width: 100%;
    position: relative;
    top: -291px;
  }

  #image-1 {
    display: none;
  }
  #bio-red-flower {
    display: none;
  }
  #image-2 {
    display: none;
  }
  #image-3 {
    display: none;
  }
  #bio-blue-flower {
    display: none;
  }
  #bio-red-flower-2 {
    display: none;
  }
  #flower-banner-1 {
    position: relative;
    top: 2%;
    display: block;
  }
  #flower-banner-2 {
    position: relative;
    top: -8%;
    display: block;
  }

  #footer-image-1 {
    width: 100%;
  }

  .footer {
    background-color:  #162753;
    height: 700px;
  }

  .about {
    height: 1500px;
  }

  .about-column {
    float: left;
    width: 100%;
    padding: 0%;
  }

  #my-story-heading {
    margin: 15%;
  }

  .my-story-text {
    font-size: 1.0rem;
    margin: 15%;
  }

  #bottom-banner {
    width: 100%;
  }

  /*
  contact
  */
  #contact-nav-section {
    height: 0px;
  }
  #contact-footer {
    display: none;
  }
  #contact-page {
    position: relative;
    height: 1000px;
  }
  #contact-page-image {
    position: relative;
    top: 15%;
  }
  #contact-page-header {
    margin-left: 10%;
    margin-right: 10%;
    top: 10%;
    position: relative;
    font-size: 2.0rem;
  }
  #contact-form {
    position: relative;
    top: 160px;
  }
  #contact-name {
    margin-left: 5%;
    margin-right: 10%;
    width: 85%;
    top: -45px;
    position: relative;
  }
  #contact-email{
    margin-left: 5%;
    margin-right: 10%;
    width: 85%;
    top: -45px;
    position: relative;
  }
  #contact-content {
    margin-left: 5%;
    margin-right: 10%;
    width: 85%;
  }
  #contact-submit-button {
    margin-left: 5%;
    width: 30%;
    position: relative;
    top: 25px;
  }
  #overlay {
      position: absolute;
       top: 10%;
       left: 0;
       height: 100%;
       width: 100%;
       z-index: 10;
       top:-1%;
       background-color: rgba(22, 39, 83, 0.9);
     }
     .footer-page-section {
         height: 250px;
     }
   }
@media screen and (min-width: 481px) and (max-width: 768px){
  #overlay {
    height: 138%;
  }
  #hero-column-header {
    font-size: 2.225rem;
    width: 125%;
  }
  h2 {
    font-size: 1.625rem;
    width: 125%;
  }
  .hero-button-home-page {
    width: 40%;
  }
  #hero-flower-image {
    width: 80%;
  }
  #hero-page-section-home-page {
    height: 500px;
  }
  #nebula-page-section {
    height: 400px;
  }
  #nebula-neb-image {
    width: 75%;
    padding-top: 15%;
    padding-left:10%;
  }
  h3 {
    font-size: 1.625rem;
    padding-bottom: 5%;
  }
  h4 {
    font-size: 1.225rem;
    padding-bottom:5%;
  }
  #bio-page-section {
    height: 500px;
  }
  #bio-home-image {
    width: 100%;
    height: 75%;
    padding-left: 15%;
  }
  h5 {
    font-size: 2rem;
    margin-top:10%;
  }
  #bio-text {
    font-size: 1.325rem;
    width: 120%;
  }
  #bio-link{
    padding-left:15%;
    font-size: 1.225rem;
    position: relative;
    top:15px;
  }
  #footer-text{
    font-size: 2.5rem;
    left:2%;
  }
  #hero-page-section{
    height: 750px;
  }
  #hero-neb-text {
    top:0%;
    font-size: 3rem;
  }
  #hero-neb-smaller-text {
    top:5%;
    padding-left: 10%;
    text-align: left;
  }
  .hero-button {
    margin-left:40%;
  }
  .summary-text-content {
    font-size: 1.225rem;
  }
  #summary-page-section {
    height: 750px;
    padding-top: 2.5%;
  }
  .skills-heading {
    font-size: 1.625rem;
  }
  .skills-heading {
    font-size: 1.625rem;
    color: #641B36;
    font-family: "Abel", sans-serif;
    margin-top: 20%;
    text-align: center;
    position: relative;
  }
  #summary-blue-diamond {
    transform: rotateY(180deg);
    width: 214%;
      left: -65%;
      top: 77%;
  }
  .skill-list-item {
    font-size: 1.225rem;
  }
  .skills-list {
      position: relative;
      margin-top: -20%;
      margin-left: 30%;
  }
  #problem-header {
    font-size: 1.625rem;
  }
  #problem-content {
    font-size: 1.225rem;
  }
  #problem-page-section {
    height: 250px;
  }
  #solution-page-section {
    height: 600px;
  }
  #solution-content {
    font-size: 1.225rem;
  }
  .solution-image {
      margin: 2%;
      margin-left: 5%;
      width: 25%;
      position: relative;
      margin-top: 20%;
  }
  #process-page-section {
    height: 500px;
  }
  #process-header {
    font-size: 1.625rem;
  }
  .process-text-content {
    font-size: 1.225rem;
  }
  #ur-page-section {
    height: 800px;
  }
  #ur-header {
    font-size: 1.625rem;
  }
  #ur-content {
    font-size: 1.225rem;
    margin-top:-5%;
  }
  .ur-image {
      width: 45%;
      padding-left: 2%;
      padding-right: 2%;
      position: relative;
      margin-top:15%;
  }
  #ur-link {
    font-size: 1.225rem;
    margin-left: 40%;
  }
  #ca-page-section {
    height: 1200px;
  }
  #ca-header {
    font-size: 1.625rem;
  }
  .ca-content {
    font-size: 1.225rem;
  }
  .ca-google-list {
    font-size: 1.225rem;
  }
  #ca-google-drive-strengths {
    position: relative;
    top:30%;
  }
  #ca-dropbox-strengths {
    position: relative;
    top:30%;
  }
  #ca-onedrive-strengths {
    position: relative;
    top:30%;
  }
  #ca-google-drive-weaknesses {
    position: relative;
    top:40%;
  }
  #ca-dropbox-weaknesses {
    position: relative;
    top:40%;
  }
  #ca-onedrive-weaknesses {
    position: relative;
    top:40%;
  }
  .ca-onedrive-list {
    font-size: 1.225rem;
  }
  .ca-dropbox-list {
    font-size: 1.225rem;
  }
  #ca-link {
    font-size: 1.225rem;
    margin-left:30%;
  }

  #ca-first-inner-row {
    position: relative;
    margin-top: 10%;
  }
  .ca-second-inner-row{
    top: -10%;
  }

  #strengths-row {
    position: relative;
    margin-top: -50%;
  }

  #persona-header{
    font-size: 1.625rem;
  }
  #persona-content {
    font-size: 1.225rem;
  }
  #neha-quote {
      width: 200%;
      color: #162753;
      position: relative;
      font-size: 1rem;
      margin-top: 50%;
      margin-left: 50%;
  }
  #ty-quote {
      width: 200%;
      color: #162753;
      position: relative;
      font-size: 1rem;
      margin-top: 50%;
      margin-left: -100%;
  }
  #neha-image {
  margin-top: -100%;
  }
  #ty-image {
    margin-left:50%;
    margin-top: -100%;
  }
  #neha-bio {
    font-size: 1.225rem;
    position: relative;
    top: -200%;
  }
  #ty-bio {
    font-size: 1.225rem;
    position: relative;
    top: -200%;
  }
  .neha-info {
    font-size: 1.225rem;
    position: relative;
  top: 20%;
  }
  .ty-info {
    font-size: 1.225rem;
    position: relative;
  top: 20%;
  }
  .persona-names-row {
    position: relative;
    padding-top:8%;
    margin-left: 2%;
  }
  .persona-motivations-row {
      height: 15%;
      top:-10%;
      position: relative;
      margin-left: 5%;
  }
  .persona-goals-row {
    top:-5%;
    position: relative;
    margin-left: 5%;
  }
  .persona-frustrations-row {
    top: -8%;
    position: relative;
    margin-left: 5%;
  }
  #view-user-persona-link {
      position: relative;
      margin-left: 35%;
      font-size: 1.225rem;
  }
  position: relative;
      margin-left: 40%;
      font-family: "Abel", sans-serif;
      color: #641B36;
      font-size: 1.625rem;
      top: -201px;
  #persona-page-section{
    height: 1900px;
  }
  #persona-user-stories-text {
    font-size: 1.225rem;
  }

  #user-flows-page-section {
    height: 900px;
  }
  .user-flow-text {
    font-size: 1.225rem;
  }
  #user-flow-image {
      width: 85%;
      padding-left: 10%;
      padding-top: 15%;
  }
  #user-flow-link {
    font-size: 1.225rem;
    margin-left:40%;
  }
  #wireframes-page-section {
    height: 1400px;
  }
  #wireframes-text {
    font-size: 1.225rem;
  }
  #wireframes-link{
    font-size: 1.225rem;
    margin-left:35%;
  }
  #mockups-page-section {
    height: 900px;
  }
  .mockups-text {
    font-size: 1.225rem;
  }
  #mockups-image-1 {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      top: 10%;
  }
  #mockups-image-2 {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      top: 10%;
  }
  #mockups-image-3 {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
      position: relative;
      top: 10%;
  }
  #mockups-link {
    font-size: 1.225rem;
    margin-left:40%;
  }
  #branding-page-section {
    height: 2600px;
  }
  .branding-text-content {
      font-size: 1.225rem;
      position: relative;
      bottom: 25px;
  }
  #branding-image-one {
      padding-left: 25%;
      padding-right: 25%;
  }
  .row-third {
      width: 100%;
      padding-top: 2%;
      position: relative;
  }
  #branding-text-two {
    position: relative;
    bottom:50px;
  }
  #branding-text-two {
    position: relative;
    bottom:50px;
  }

  #prototyping-page-section {
    height: 1800px;
  }

  .prototyping-text {
    font-size: 1.225rem;
  }

  #prototyping-bold-text-one {
    color: #E2C8B1;
    position: relative;
    margin-left: 19%;
    margin-top: 32%;
  }
  #prototyping-bold-text-two {
    color: #E2C8B1;
    position: relative;
    margin-left: 27%;
    top: -85%;
}
#prototyping-bold-text-three {
    color: #E2C8B1;
    position: relative;
    margin-left: 15%;
}
.prototyping-other-row {
    height: 30%;
    top: -2%;
}
  .prototyping-smaller-row {
    height: 15%;
        top: -14%;
  }
  #prototype-last-row {
    position: relative;
        top: -19%;
  }

#conclusion-page-section {
  height: 1500px;
}
  .conclusion-text-content {
    font-size: 1.225rem;
  }

  .conclusion-row-two {
      height: 30%;
      padding-top: 15%;
      top: 0%;
  }

  .conclusion-button {
    color: #162753;
    font-family: "Abel", sans-serif;
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 25px;
    background-color: #FEACC6;
    position: relative;
    margin-left: 38%;
    text-decoration: none;
}

.my-story-text {
  font-size: 1.225rem;

}
#hero-heading {
    position: relative;
    top: 45%;
    text-align: center;
    font-size: 3.5rem;
}
#image-1 {
  width: 80%;
  margin-top:-10%;
}
#image-2 {
  width: 80%;
  margin-top:-10%;
}
#image-3 {
  width: 80%;
  margin-top:10%;
}
#bio-red-flower {
    width: 20%;
    padding-top: 20%;
}
#bio-blue-flower {
    width: 20%;
    padding-top: 45%;
}
#bio-red-flower-2 {
    width: 20%;
    padding-left: 5%;
}
.hero {
  height: 300px;
}
.about {
  height: 1300px;
}

#image-1 {
    width: 80%;
    margin-top: -10%;
    margin-left: -13%;
}
#image-2 {
    width: 80%;
    margin-top: 0%;
    margin-right: -26px;
}
#image-3 {
    width: 80%;
    margin-top: 10%;
    margin-left: -12%;
}
#footer-text {
  font: 2rem;
}
.footer {
  height: 300px;
}
.footer-page-section {
    height: 300px;
}
#footer-text {
  font-size: 2rem;
}
.skill-list-item {
    font-size: 1.225rem;
    top: 75px;
    position: relative;
    margin-left: -10%;
}
#skills-page-section{
  height: 900px;
}
#overlay{
  height: 80%;
  top:15%;
}
}
