
/****************
 *
 * basic .css
 *
 * ***************/

/* general*/

.container {
  display : grid;
  width: 100%;
  margin: 1px;
}
.page-section {
  width: 100%;
  position: relative;
  background-color: inherit;
  /* this is the default height, can overwrite by using an ID*/
  height: 1200px;
}

/*columns*/
.column {
  float: left;
  width: 70%;
  height: 100%;
  position: relative;
}
.column-half {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}
.column-quarter {
  float: left;
  width: 25%;
  height: 100%;
  position: relative;
}
.column-third {
  float: left;
  width: 33%;
  height: 100%;
  position: relative;
}
.column-small {
  float: left;
  width: 10%;
  height: 100%;
  position: relative;
}
.column-big {
  float: left;
  width: 80%;
  height: 100%;
  position: relative;
}

/*rows*/
.row {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-half {
  width: 100%;
  height: 50%;
  position: relative;
}
.row-quarter {
  width: 100%;
  height: 25%;
  position: relative;
}
.row-third {
  width: 100%;
  height: 33%;
  position: relative;
}
.row-big {
  width: 100%;
  height: 90%;
  position: relative;
}
.row-small {
  width: 100%;
  height: 10%;
  position: relative;
}
.row-smallest {
  width: 100%;
  height: 5%;
  position: relative;
}

/*images*/
.full-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.full-width-image {
  position: relative;
  width: 100%;
}
.half-width-image {
  position: relative;
  width: 50%;
}
.column-top-image {
  position: absolute;
  top: 5%;
  height: 10%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.column-mid-image {
  position: absolute;
  top: 50%;
  height: 10%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
.column-bottom-image {
  position: absolute;
  top: 85%;
  height: 10%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}

/****************
 *
 * index .css
 *
 * ***************/

/*
  maroon -- 641B36
*/

@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
#top-banner {
  width: 100%;
  height: 40px;
}
li {
  font-size: 30px;
  color: #162753;
  font-family: myFirstFont;
  list-style-type: none;
}
h1 {
    font-size: 72px;
    font-weight: 100;
    color: #FEACC6;
    font-family: myFirstFont;
}
h2 {
  color: #FFFFFF;
  font-size: 48px;
  font-family: myFirstFont;
  font-weight: lighter;
}
h3 {
  color: #162753;
  font-size: 48px;
  font-family: myFirstFont;
}
h4 {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
h5 {
  color: #E2C8B1;
  font-size: 36px;
  font-family: myFirstFont;
}
button {
  background-color: #FEACC6;
  color: #162753;
  font-size: 20px;
  font-family: myFirstFont;
  border-radius: 6px;
  width: 200px;
  height: 50px;
}

/*
  nav
*/
.nav {
  height: 150px;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
#nav-bar-home {
  color: #162753;
}
#nav-bar-about {
  color: #162753;
}
#nav-bar-contact {
  color: #641B36;
}
#nav-bar-work{
  color: #641B36
}
#nav-bar-home:hover {
  color: #E2C8B1;
}
#nav-bar-about:hover {
  color: #E2C8B1;
}
#nav-bar-contact:hover {
  color: #E2C8B1;
}
#nav-bar-work:hover {
  color: #E2C8B1;
}

/*
  Hero stuff
*/
#hero-page-section {
  background-color: #162753;
  height: 800px;
}
.hero-column {
  align-content: center;
}
#hero-column-content {
  position: relative;
  top: 10%;
  left: 15%;
}
#hero-flower-image {
 width: 80%;
 position: relative;
 top: 10%;
 left: 20%;
}

.hero-button {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    line-height: 25px;

    background-color: #FEACC6;
    color: #162753;
    font-size: 20px;
    font-family: myFirstFont;
    border-radius: 6px;
    width: 200px;
    height: 50px;
}
/*
  Nebula row
*/
#nebula-page-section {
    height: 680px;
}
#nebula-column-3 {
  width: 30%;
}
#nebula-neb-image {
 width : 573px;
 /*width: 100%;*/
 height: 556px;
 position: relative;
 padding-top: 7%;
 padding-left: 15%;
}
#nebula-content {
  padding-left: 10%;
}

.nebula-button {
  background-color: #162753;
  color: #E2C8B1;
  font-family: myFirstFont;

  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
}

/*
  bio section
*/
#bio-page-section {
  background-color:  #641B36;
  height: 700px;
}
.bio-column {
  float: left;
  width: 40%;
}
#bio-content-1 {
  padding-top: 5%;
  padding-left: 15%;
}
#bio-content-2 {
  padding-top:20%;
  padding-left: 10%;
}
#bio-text {
  color: #FFFFFF;
  font-size: 36px;
  font-family: myFirstFont;
}
#bio-home-image {
  width: 418px;
  height: 433px;
}
#bio-link {
  color: #E2C8B1;
  font-size: 26px;
  font-family: myFirstFont;
  padding-left: 17%;
}

/*
  skills
*/
#skills-page-section {
  height: 1050px;
  text-align: center;
}
#skills-main-header {
  color: #162753;
  font-size: 48px;
  font-family: myFirstFont;
  text-align:  center;
}
#skills-cell-1 {
  border-bottom: : 1px solid #dfdfdf;
  border-right: : 1px solid #dfdfdf;
}
#skills-cell-2 {
  border-top: 1px solid #dfdfdf;
}
#skills-cell-3 {
  border-left: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
#skills-cell-4 {
  border-left: 1px solid #dfdfdf;
}
.skills-blue-flower {
  margin-top:5%;
  width: 40px;
  height: 40px;
}
.skills-blue-diamond {
  margin-top: 5%;
  width: 85px;
  height: 60px;
}
.skills-heading {
  font-size: 36px;
  color: #641B36;
  font-family: myFirstFont;
  margin-top:-.5%;
}
.skills-list {
  margin-top: -5%;
}
.skill-list-item {
  padding-right: 50px;
}

/*
  footer
*/

#footer-page-section {
  background-color:  #162753;
  height: 414px;
}
#footer-column-2 {
  width: 80%;
  text-align: center;
}
#footer-text {
  color:#FFFFFF;
  font-size: 42px;
  font-family: myFirstFont;
  font-weight: lighter;
  position: relative;
  top: 30%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: relative;
}
#footer-github {
  height: 50px;
  width: 50px;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}
#footer-linkedin{
    margin-left:5%;
}
#footer-instagram{
    margin-left:5%;
}
#footer-email{
    margin-left:5%;
}
#footer-github{
    margin-left:5%;
}


/****************
 *
 * case study .css
 *
 * ***************/
@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;

  /* maybe figure out why it was overflowing in the first place */
  overflow-x: hidden;
}

li {
  font-size: 26px;
  color: #162753;
  font-family: myFirstFont;
  list-style-type: none;
  text-align: left;
}

p {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

h1 {
  font-family: myFirstFont;
  font-size: 68px;
  font-weight: lighter;
  text-align: center;
  color: #FEACC6;
  position:  relative;
}
h2 {
  font-family: myFirstFont;
  font-size: 42px;
  font-weight: lighter;
  color: #FFFFFF;
  text-align: center;
  position: relative;
  bottom: 10%;
}

h3 {
  color: #162753;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}

h4 {
  font-family: myFirstFont;
  color: #162753;
  font-size: 26px;
  font-weight: lighter;
  text-align: left;
}

button {
  background-color: #FEACC6;
  color: #162753;
  font-size: 20px;
  font-family: myFirstFont;
  border-radius: 6px;
  width: 200px;
  height: 50px;
  margin-left: 40%;
  margin-right: 40%;
}

#top-banner {
  width: 100%;
  height: 40px;
}

#backToTopButton {
  position: fixed;
  right: 100px;
}

/* Nav stuff*/
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-about {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-contact {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-work {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home:hover {
  color: #E2C8B1;
}
#nav-bar-about:hover {
  color: #E2C8B1;
}
#nav-bar-contact:hover {
  color: #E2C8B1;
}
#nav-bar-work:hover {
  color: #E2C8B1;
}

/*
  hero stuff
*/
#hero-page-section {
  background-color: #162753;
  height: 1400px;
}
#hero-column-small {
  /* overrides "column-small" class*/
  width: 10%;
}
#hero-column {
  /* overrides "column" class*/
  width: 80%;
}
#hero-row {
  height: 60%;
}
#hero-row-small {
    height: 40%;
}
#hero-gold-flower {
  /*
  width: 65%;
  padding: 10%;
  position: relative;
  */
}
#hero-neb-image {
  position: relative;
  top: 20%;
  left: 20%;
  width: 60%;
}
#hero-gold-diamond {
  /*
  width: 70%;
  position:relative;
  top: 75%;
  */
  transform: rotateY(180deg);
}

.hero-button {
  background-color: #162753;
  color: #162753;
  font-family: myFirstFont;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  background-color: #FEACC6;
  position: relative;
  left: 45%;
}


/* Summary stuff */
#summary-page-section {
  height:1300px;
}
#summary-column-two {
  width: 80%;
}
#summary-blue-diamond {
}
#summary-blue-flower {
}
#summary-red-flower {
}
#summary-red-diamond {
  transform: rotateY(180deg);
}

/* Problem stuff*/

#problem-page-section {
  height: 300px;
  background-color: #641B36;
}
#problem-column-two {
  width: 80%;
}
#problem-flower {
  height: 25%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
}
#problem-diamond {
  height: 25%;
  top: 70%;
  transform: rotateY(180deg);
}
#problem-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
#problem-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

/* Solution stuff */

#solution-page-section {
  height: 1400px;
}
#solution-column-two {
  width: 80%;
}
#solution-diamond {
}
#solution-flower {
}

#solution-smaller-row {
  height: 30%;
}
#solution-bigger-row {
  height: 70%;
}

.solution-image {
  margin-left: 1.5%;
  margin-right: 1.5%;
  width: 30%;
  height: 70%;
  position: relative;
}

/* Process stuff*/
#process-page-section {
  height: 700px;
  background-color: #162753;
}

#process-column-two {
  width: 80%;
}
#process-flower {
}
#process-diamond {
  transform: rotateY(180deg);
}
#process-header{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
}
#process-content {
  color: #F2F2F2;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
}

/* User research stuff*/
#ur-page-section {
  height: 1100px;
}

.persona-column-image {
  height: 5%;
}
#ur-column-two {
  width: 80%;
}
#ur-row-smaller {
  height: 25%;
}
#ur-row-bigger {
  height: 30%;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#ur-row-small {
  height: 4%;
}
.ur-image {
  width: 45%;
  height: 85%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}
#ur-diamond {
}
#ur-flower {
}
#ur-header{
  color: #162753;
  font-family: myFirstFont;
  font-size: 32px;
  font-weight: lighter;
  position: relative;
  height: 20%;
}
#ur-content {
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  font-weight: lighter;
  position: relative;
  height: 80%;
}

#ur-link{
  color: #641B36;
  font-family: myFirstFont;
  font-size: 26px;
  position: relative;
  top: 80%;
  left: 45%;
}

/* competitive analysis section */
#ca-page-section {
  height: 1900px;
  background-color: #162753;
}
#ca-column-two {
  width: 80%;
}
#ca-first-row {
  height: 45%;
}
#ca-second-row {
  height: 35%;
}
#ca-inner-column {
  width: 30%;
}
#ca-flower {
}
#ca-diamond {
  transform: rotateY(180deg);
}
#ca-header {
  color: #E2C8B1;
  font-size: 32px;
}
.ca-content {
  color: #F2F2F2;
}
#ca-google-drive-image {
  height: 75%;
}
#ca-dropbox-image {
  left: 5%;
  height: 75%;
}
#ca-onedrive-image {
  width: 80%;
}
.ca-google-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
  margin: 0 0 10px 0;
}
.ca-dropbox-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
  margin: 0 0 10px 0;
}
.ca-onedrive-list {
  font-family: myFirstFont;
  font-size: 26px;
  color: #E2C8B1;
  margin: 0 0 10px 0;
}
#ca-link{
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 26px;
  position: absolute;
  left: 40%;
}
#ca-dropbox-weaknesses {
  padding-top: 12%;
}
/* Persona stuff*/
#persona-page-section{
  height: 3000px;
}
#persona-column-two {
  width: 80%;
}
#persona-blue-diamond{
  transform: rotateY(180deg);
}
#persona-blue-diamond2{
  transform: rotateY(180deg);
}
#persona-header{
  font-size: 32px;
  color:#162753;
}
#persona-content {
  font-size: 26px;
  color: #641B36;
}
#title-row {
  height: 7%;
}
#motivations-row {
  height: 15%;
}
#user-stories-row {
  height: 12%;
}
.inner-column {
  padding-left: 7%;
}
#neha-inner-column {
  width: 35%;
  margin-right: 2.5%;
}
#ty-inner-column {
  width: 35%;
  margin-left: 2.5%;
}
#neha-quote {
  width: 100%;
  color: #162753;
  position: relative;
}
#ty-quote {
  width: 100%;
  position: relative;
}
#neha-image{
  height: 70%;
  width: 100%;
  position: relative;
}
#ty-image {
  height: 70%;
  width: 100%;
  position: relative;
}
.neha-info {
  color:#162753;
  font-size: 24px;
  position: relative;
}
.ty-info {
  color:#162753;
  font-size: 24px;
  position: relative;
}
#view-user-persona-link {
  position: relative;
  left: 40%;
  font-family: myFirstFont;
  color: #641B36;
  font-size: 26px;
}

/*
  User flows stuff
*/
#user-flows-page-section {
  background-color: #162753;
}
#user-flows-column-two-header {
  text-align: left;
  color: #FEACC6;
}
#user-flow-image {
  height: 70%;
  width: 85%;
  padding-left: 10%;
  padding-right: 5%;
}
#user-flow-link {
  position: relative;
  left: 45%;
  color: #E2C8B1;
  font-family: myFirstFont;
  font-size: 26px;
  top: 5%;
}
#user-flow-text {
  color: #F2F2F2;
}
#user-center-column {
  width: 80%;
}
#user-flow-row-1 {
  height: 20%;
}
#user-flow-row-2 {
  height: 80%;
}

/*
  Wireframes
*/
#wireframes-page-section {
  height: 2400px;
}
#wireframes-column-two-header {
  text-align: left;
}

#wireframes-center-column{
  width: 80%;
}
#wireframes-image-one {
  height: 80%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 5%;
  width: 85%;
}
#wireframes-image-two {
  height: 80%;
  padding-left: 10%;
  padding-right: 5%;
  width: 85%;
}
#wireframes-row-one {
  height: 15%;
}
#wireframes-row-two {
  height: 40%;
}
#wireframes-row-three {
  height: 45%;
}
#wireframes-link {
    position: relative;
    left: 45%;
    color: #641B36;
    font-family: myFirstFont;
    font-size: 26px;
    top: 5%;
}

.wireframes-column-image {
  height: 5%;
}

/*
  Mockups
*/
#mockups-page-section {
  background-color: #641B36;
}

#mockups-column-two-header {
  text-align: left;
  color: #FEACC6;
}
#mockups-text{
  color: #F2F2F2;
}
#mockups-center-column {
  width: 80%;
}
#mockups-row-1 {
  height: 25%;
}
#mockups-row-2 {
  height: 75%;
}
#mockups-image-1 {
  width: 90%;
  height: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-2 {
  width: 90%;
  height: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-image-3 {
  width: 90%;
  height: 80%;
  padding-left: 5%;
  padding-right: 5%;
}
#mockups-link {
  position: relative;
  left: 45%;
  top: -15%;  /* come back and figure out why this needs to be negative*/
  font-family: myFirstFont;
  color: #E2C8B1;
  font-size: 26px;
}

/*
  Branding
*/
#branding-page-section {
  height: 3000px;
}

.branding-column-image {
  height: 5%;
}
#branding-column-two-header {
  text-align: left;
}
#branding-column-two {
    width: 80%;
}
#branding-image-one {
  height: 80%;
  padding-left: 25%;
  padding-right: 25%;
}
#branding-image-two {
  height: 80%;
  padding-left: 25%;
  padding-right: 25%;
}
#branding-image-three {
  height: 80%;
  padding-left: 25%;
  padding-right: 25%;
}
#branding-image-four {
  height: 90%;
}

/*
  Prototyping
*/
#prototyping-page-section {
  background-color: #162753;
  height: 2800px;
}
.prototyping-column-image {
  height: 5%;
}
#prototyping-column-two {
  width: 80%;
}
#prototyping-column-two-header {
  text-align: left;
  color: #FEACC6;
}

#prototyping-text{
  color: #F2F2F2;
}
#prototyping-bold-text {
  color: #E2C8B1;
  position: relative;
  left: 30%;
}

#prototyping-round-button {
  height: 80%;
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
}
#prototyping-square-button {
  height: 80%;
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
}
#prototyping-light-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototyping-dark-logo {
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
}
#prototype-multi-logo {
  height: 80%;
  width: 70%;
  padding-left: 10%;
  padding-right: 20%;
}
#prototype-monochrome-logo {
  height: 80%;
  width: 70%;
  padding-left: 20%;
  padding-right: 10%;
}

#prototype-last-row{
    top: -15%;
}

/*
  Conclusion
*/
#conclusion-page-section {
  height: 2000px;
}
#conclusion-column-two {
  width: 80%;
}
.conclusion-column-image {
  height: 5%;
}
#conclusion-column-two-header {
  text-align: left;
}
#conclusion-image-one {
  width: 80%;
  padding-right: 20%;
}
#conclusion-image-two {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
}
#conclusion-image-three {
  width: 80%;
  padding-left: 20%;
}

.conclusion-button {
  color: #162753;
  font-family: myFirstFont;
  display: block;
  width: 115px;
  height: 25px;
  background: #4E9CAF;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  line-height: 25px;
  background-color: #FEACC6;
  position: relative;
  left: 45%;
}

/*
  footer
*/

#footer-page-section {
  background-color:  #162753;
  height: 414px;
}
#footer-column-2 {
  width: 80%;
  text-align: center;
}
#footer-text {
  color:#FFFFFF;
  font-size: 42px;
  font-family: myFirstFont;
  font-weight: lighter;
  position: relative;
  top: 30%;
  left: 35%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: relative;
}
#footer-github {
  height: 50px;
  width: 50px;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}
#footer-linkedin{
    margin-left:5%;
}
#footer-instagram{
    margin-left:5%;
}
#footer-email{
    margin-left:5%;
}
#footer-github{
    margin-left:5%;
}

.back-to-top {
	position: fixed;
	right: 1%;
	bottom: -7.5%;
	height: 15px;
	width: 30px;
	padding: 3px 5px;
	font-size: 10px;
	font-weight: bold;
  font-family: myFirstFont;
	color: transparent;
	opacity: 0.5;
	z-index: 3;
	visibility: hidden;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.25s ease-in-out;

	&:hover,
	&:focus {
		opacity: 1;
		text-decoration: none;
	}

	&:focus {
		outline: thin dotted;
	}
}

.back-to-top::before,
.back-to-top::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top: 0;
}

.back-to-top::before {
	top: -20px;
	z-index: 4;
	border-bottom: 20px solid #858585;

}
.back-to-top::after {
	bottom: 0;
	z-index: 5;
	border-bottom: 20px solid #505050;
}
.back-to-top:hover,
.back-to-top:focus {
	height: 40px;
	color: #212223;
}
.show-back-to-top {
	display: block;
	bottom: 1.25%;
	visibility: visible;
}



/****************
 *
 * bio .css
 *
 * ***************/
@font-face {
  font-family: myFirstFont;
  src:url(abel.ttf);
}

body {
  background-color: #F2F2F2;
  font-weight: normal;
}
#top-banner {
  width: 100%;
  height: 40px;
}
.container {
  display : grid;
}
.nav {
  height: 150px;
}
.nav-column {
  float: left;
  width: 50%;
}
.nav-logo {
    height: 80px;
    width: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}
.nav-links {
  float: right;
}
.nav-link {
    display: inline-block;
    float: left;
    padding: 0;
    margin: 10px;
}
#nav-bar-home {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;

}
#nav-bar-about {
  color: #162753;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-contact {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-work {
  color: #641B36;
  font-size: 30px;
  font-family: myFirstFont;
}
#nav-bar-home:hover {
  color: #E2C8B1;
}
#nav-bar-about:hover {
  color: #E2C8B1;
}
#nav-bar-contact:hover {
  color: #E2C8B1;
}
#nav-bar-work:hover {
  color: #E2C8B1;
}
.hero {
  background-color: #162753;
  height: 500px;
}
#hero-gold-flower {
  width: 100px;
  height: 100px;
  padding: 20px;
}
#hero-gold-diamond {
  width: 150px;
  height: 200px;
  float: right;
  position:relative;
}
h1 {
  font-family: myFirstFont;
  font-size: 68px;
  font-weight: lighter;
  text-align: center;
  color: #FEACC6;
}
.about {
  height: 2000px;
  background-color: inherit;
}
.about-column {
  float: left;
  width: 40%;
  padding: 5%;
}
.image-column {
  float: right;
  width: 40%;
  padding: 5%;
  padding-top: 10%;

}
h3 {
  font-family: myFirstFont;
  font-size: 42px;
  color: #162753;
}
p {
  font-family: myFirstFont;
  font-size: 32px;
  color: #641B36;
  line-height: 1.5em;
}
#image-1 {
  height: 450px;
  width: 450px;
  float: left;
}
#bio-red-flower {
  height: 120px;
  width: 120px;
  padding-top: 25%;
  padding-left: 5%;
}

#image-2 {
  height: 450px;
  width: 450px;
  float: right;
  padding-top: 10%;
}
#image-3 {
  height: 450px;
  width: 450px;
  float: left;
  padding-top: 10%;
}
#bio-blue-flower {
  height: 120px;
  width: 120px;
  padding-top: 40%;
  padding-right: 5%;
}

#bio-red-flower-2 {
  height: 120px;
  width: 120px;
  padding-top: 40%;
  padding-left: 5%;
}
.footer {
  background-color:  #162753;
  height: 410px;
  position: relative;
}

.footer-column-1 {
  float: left;
  width: 10%;
}
.footer-column-2 {
  float: left;
  width: 80%;
  text-align: center;
  position : relative;
}

.footer-column2-row {
  width : 100%;
  height: 50%;
  position: relative;
  text-align: center;
}

#footer-text {
  color:#FFFFFF;
  font-size: 42px;
  font-family: myFirstFont;
  font-weight: lighter;
  position: relative;
  top: 30%;
 }

#footer-gold-diamond {
  width: 120%;
  height: 192px;
}
#footer-gold-flower {
  width: 130px;
  height: 130px;
  top: 150%;
}
#bottom-banner {
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}
#footer-github {
  height: 50px;
  width: 50px;
}
.footer-icons {
  display:inline;
  margin-right: 5%;
  position: relative;
  top: -30%;
}
#footer-linkedin{
    margin-left:5%;
}
#footer-instagram{
    margin-left:5%;
}
#footer-email{
    margin-left:5%;
}
#footer-github{
    margin-left:5%;
}
